.logo {
  font-size: 30px;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}
.header {
  border: 0;
}
.header.navbar {
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
}
.header .navbar-header {
  float: left;
}
.header-fixed {
  padding-top: 44px;
}
.header .navbar-toggle {
  border-radius: 0;
  float: left;
  margin: 0;
  padding: 14px 10px;
}
.header .top-menu {
  float: right;
}
.header .top-menu > ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .top-menu > ul > li {
  float: left;
  list-style: none;
  display: block;
  position: relative;
}
.header .top-menu > ul > li > a {
  display: block;
  position: relative;
  padding: 12px 15px;
}
.header .top-menu > ul > li > a:hover,
.header .top-menu > ul > li > a:focus {
  text-decoration: none;
}
@media (min-width: 992px) {
  .header > container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header .navbar-brand {
    width: 220px;
  }
  .header .top-menu .dropdown-menu {
    margin: 0;
    border-top: 0;
  }
}
.page-container .footer {
  margin-left: 220px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.layout-change .page-container .footer {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: margin-left;
  -moz-transition-property: margin-left;
  -ms-transition-property: margin-left;
  -o-transition-property: margin-left;
  transition-property: margin-left;
}
@media (max-width: 991px) {
  .page-container .footer {
    margin-left: 0;
  }
}
.page-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
}
.page-container .page-content {
  margin-left: 220px;
  padding: 20px;
}
.layout-change .page-container .page-content {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: margin-left;
  -moz-transition-property: margin-left;
  -ms-transition-property: margin-left;
  -o-transition-property: margin-left;
  transition-property: margin-left;
}
@media (max-width: 991px) {
  .page-container .page-content-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 44px;
    z-index: 1;
    background: #000;
    display: none;
  }
  .page-container .page-content {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .page-container .page-content-overlay {
    display: none;
  }
}
.page-header {
  border: 0 none;
  margin: 0 0 15px 0;
  padding: 0;
  position: relative;
}
.page-header > .page-title {
  margin: 0;
  font-size: 30px;
  float: left;
}
.page-header:after {
  clear: both;
  content: '';
  display: table;
}
.page-sidebar {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  float: left;
  width: 220px;
}
.page-sidebar:before {
  background-color: inherit;
  border-color: inherit;
  border-style: inherit;
  border-width: inherit;
  bottom: 0;
  content: "";
  display: block;
  position: fixed;
  top: 0;
  width: inherit;
  z-index: -1;
}
.layout-change .page-sidebar {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -ms-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
}
.page-sidebar-fixed .page-sidebar-left {
  position: fixed;
  top: 44px;
  bottom: 0;
}
.page-sidebar-fixed .page-sidebar-left.autofix_sb.fixed {
  top: 0;
}
.page-sidebar .page-sidebar-search {
  padding: 0 15px 15px;
}
.page-sidebar-menu.nav > li > a {
  display: block;
  padding: 10px 15px;
  position: relative;
}
.page-sidebar-menu.nav > li > .nav {
  margin: 0;
}
.page-sidebar-menu.nav > li > a > i {
  margin-right: 10px;
  font-size: 14px;
}
.page-sidebar-menu li a .arrow {
  float: right;
  font-size: 16px;
}
.page-sidebar-menu li > a > .ps-closed.arrow {
  display: none;
}
.page-sidebar-menu .fa.arrow:before {
  content: "\f104";
}
.page-sidebar-menu .open > a > .fa.arrow:before {
  content: "\f107";
}
.page-sidebar-menu.nav > li > .nav > li > a {
  padding: 10px 15px 10px 38px;
}
.page-sidebar-menu.nav > li > .nav > li > .nav > li > a {
  padding: 10px 15px 10px 58px;
}
.page-sidebar-menu.nav > li > .nav > li > .nav > li > .nav > li > a {
  padding: 10px 15px 10px 78px;
}
.page-sidebar-menu.nav > li > .nav > li > .nav > li > .nav > li > .nav > li > a {
  padding: 10px 15px 10px 98px;
}
.page-sidebar-search #open-search,
.page-sidebar-search #close-search {
  display: none;
}
.page-sidebar .page-sidebar-toggler {
  display: block;
  margin: 10px;
}
.page-sidebar-fixed .page-sidebar-toggler {
  margin-bottom: 20px;
}
.page-sidebar-fixed .page-sidebar-toggler .navbar-toggle {
  display: none;
}
.ps-closed-fixed-toggler {
  display: none;
}
.page-sidebar .page-sidebar-toggler:after {
  clear: both;
  content: " ";
  display: table;
}
.page-sidebar .page-sidebar-toggler .navbar-toggle {
  display: block;
  float: right;
  margin: 0;
  padding: 6px;
  border-radius: 0;
}
.page-sidebar .page-sidebar-toggler .navbar-toggle .icon-bar {
  width: 20px;
}
.page-sidebar-search #close-search,
.page-sidebar-search #open-search {
  display: none;
  padding: 10px;
}
@media (max-width: 991px) {
  .page-sidebar {
    display: block;
    top: 44px;
  }
  .page-sidebar.page-sidebar-left {
    left: -220px;
    bottom: 0;
    overflow: auto;
    position: fixed;
    z-index: 2;
  }
  .page-sidebar.page-sidebar-left {
    -webkit-transition: none 0.4s ease;
    -moz-transition: none 0.4s ease;
    -ms-transition: none 0.4s ease;
    -o-transition: none 0.4s ease;
    transition: none 0.4s ease;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -ms-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
  }
  .page-sidebar-left-open .page-container .page-content-overlay {
    display: block;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  .page-sidebar-left-open .page-container .page-sidebar-left {
    left: 0;
  }
  .page-sidebar .page-sidebar-toggler {
    display: none;
  }
}
@media (min-width: 992px) {
  .page-sidebar {
    display: block !important;
  }
  .page-sidebar-fixed .ps-closed-fixed-toggler {
    display: block;
    margin-left: -44px;
    border-color: transparent;
  }
}
@media (min-width: 992px) {
  /* page sidebar collapse */
  .page-sidebar-closed .page-sidebar {
    width: 35px;
  }
  .page-sidebar-closed .page-sidebar-search {
    padding: 0;
  }
  .page-sidebar-closed .page-container .page-content,
  .page-sidebar-closed .page-container .footer {
    margin-left: 35px;
  }
  .page-sidebar-closed .page-sidebar-toggler {
    margin: 5px 0;
  }
  .page-sidebar-closed .page-sidebar-search .input-group {
    display: none;
  }
  .page-sidebar-closed .page-sidebar-menu .navbar-toggle {
    float: none;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .page-sidebar-closed .page-sidebar-search {
    width: 35px !important;
  }
  .page-sidebar-closed .page-sidebar-search.open {
    width: 300px !important;
    padding: 5px 3px 5px 0;
    position: relative;
    z-index: 1;
  }
  .page-sidebar-closed .page-sidebar-search #open-search {
    display: block;
  }
  .page-sidebar-closed .page-sidebar-search.open #close-search {
    background: inherit;
    border: 0 none !important;
    display: block;
    font-size: 22px;
    left: 10px;
    padding: 0;
    position: absolute;
    top: 4px;
  }
  .page-sidebar-closed .page-sidebar-search.open > #open-search {
    display: none;
  }
  .page-sidebar-closed .page-sidebar-search.open .input-group {
    display: block;
    margin-left: 35px;
    margin-right: 35px;
  }
  .page-sidebar-closed .page-sidebar-menu > li > a,
  .page-sidebar-closed .page-sidebar .page-sidebar-menu > li.open.hover > a > .menu-text {
    padding: 10px;
    transition: none 0s ease 0s;
  }
  .page-sidebar-closed .page-sidebar-menu > li > a > i {
    margin: 0;
  }
  .page-sidebar-closed .page-sidebar .page-sidebar-menu > li > a > .menu-text,
  .page-sidebar-closed .page-sidebar .page-sidebar-menu > li > a > .arrow {
    display: none;
  }
  .page-sidebar-closed .page-sidebar-menu > li .nav {
    display: none;
  }
  .page-sidebar-closed .page-sidebar-menu > li > .nav .nav.in {
    display: block;
  }
  .page-sidebar-closed .page-sidebar-menu.nav > li > .nav > li > a {
    padding: 10px;
  }
  .page-sidebar-closed .page-sidebar-menu.nav > li > .nav > li > .nav > li > a {
    padding: 10px 15px 10px 38px;
  }
  .page-sidebar-closed .page-sidebar-menu.nav > li > .nav > li > .nav > li > .nav > li > a {
    padding: 10px 15px 10px 58px;
  }
  .page-sidebar-closed .page-sidebar-menu.nav > li > .nav > li > .nav > li > .nav > li > .nav > li > a {
    padding: 10px 15px 10px 78px;
  }
  /* page sidebar collapse fixed */
  .page-sidebar-closed-fixed .page-sidebar {
    z-index: 1;
  }
  .page-sidebar-closed-fixed .page-container .page-content,
  .page-sidebar-closed-fixed .page-container .footer {
    margin-left: 35px !important;
  }
  /* active */
  .page-sidebar-closed .page-sidebar .page-sidebar-menu > li,
  .page-sidebar-closed .page-sidebar .page-sidebar-menu > li > a {
    position: relative;
  }
  .page-sidebar-closed .page-sidebar .page-sidebar-menu > li > a {
    height: 40px;
  }
  .page-sidebar-closed .page-sidebar .page-sidebar-menu > li > a > .menu-text {
    display: none;
  }
  .page-sidebar-closed .page-sidebar .page-sidebar-menu > li.open.hover > a > .ps-closed-arrow {
    display: block;
  }
  .page-sidebar-closed .page-sidebar .page-sidebar-menu > li.open.hover > a > .menu-text,
  .page-sidebar-closed .page-sidebar .page-sidebar-menu > li.open.hover > .nav.in {
    width: 220px;
    position: absolute;
    z-index: 999;
    left: 35px;
    margin-top: 0;
    top: 0;
    display: block;
  }
  .page-sidebar-closed .page-sidebar .page-sidebar-menu > li.open.hover > a > .menu-text {
    background: inherit;
  }
}
.theme-panel {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1;
}
.theme-panel > .toggler {
  color: inherit;
  float: left;
  padding: 8px 10px;
}
.theme-panel > .toggler > i {
  font-size: 20px;
}
.theme-panel > .theme-options {
  float: left;
  width: 200px;
  border: solid 2px #000;
  border-right: 0;
  display: none;
  background: #fff;
  padding: 10px;
}
.theme-panel > .theme-options.open {
  display: block;
}
.theme-panel > .theme-options .form-horizontal .form-group {
  margin: 0 0 3px 0;
}
.theme-panel .theme-group > ul,
.theme-panel .theme-group > ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.theme-panel .theme-group > ul > li {
  float: left;
  position: relative;
}
.theme-panel .theme-group > ul > li > a {
  display: block;
  margin: 0 10px 0 0;
  padding: 12px;
  color: #fff;
}
.theme-panel .theme-group > ul > li.select > a:before {
  color: inherit;
  content: "ï€Œ";
  font-family: 'FontAwesome';
  left: 5px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2px;
}
