<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="box bg-primary">
            <div class="icon">
                <i class="fa fa-calendar"></i>
            </div>
            <div class="description">
                <strong>14</strong> meetings
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="box bg-danger">
            <div class="big-text">
                3.28%
            </div>
            <div class="description">
                <i class="fa fa-user"></i>User Growth
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="box bg-success">
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <div class="description">
                <strong>643</strong> customers
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="box bg-warning">
            <div class="big-text">
                +512
            </div>
            <div class="description">
                <i class="fa fa-comments"></i>Comments
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="box bg-purple">
            <div class="icon">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="description">
                <strong>410</strong> orders
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="box bg-primary">
            <div class="big-text">
                6.42%
            </div>
            <div class="description">
                <i class="fa fa-arrow-right"></i>Traffic Growth
            </div>
        </div>
    </div>
</div>