<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="fa fa-comment-o"></i>Chats
		</h3>@Html.Partial("_PanelCloseTools")
	</div>
	<div class="panel-body">
		<div class="chat-content slimscroll" data-height="480">
			<ul class="chat-list">
				<li class="chat in"><a href="#" class="img">
					<img class="chat-img img-circle" src="/img/avatars/75/3.jpg">
				</a>
					<div class="chat-body notes notes-success">
						<div class="name">
							Carlos Miller
						</div>
						<div class="datetime">
							May 25, 2013 10:00 AM
						</div>
						<p class="message">
							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
						</p>
					</div>
				</li>
				<li class="chat out"><a href="#" class="img">
					<img class="chat-img img-circle" src="/img/avatars/75/4.jpg">
				</a>
					<div class="chat-body notes notes-primary">
						<div class="name">
							Wayne Young
						</div>
						<div class="datetime">
							May 25, 2013 10:02 AM
						</div>
						<p class="message">
							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
						</p>
					</div>
				</li>
				<li class="chat in"><a href="#" class="img">
					<img class="chat-img img-circle" src="/img/avatars/75/3.jpg">
				</a>
					<div class="chat-body notes notes-success">
						<div class="name">
							Carlos Miller
						</div>
						<div class="datetime">
							May 25, 2013 10:05 AM
						</div>
						<p class="message">
							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
						</p>
					</div>
				</li>
				<li class="chat out"><a href="#" class="img">
					<img class="chat-img img-circle" src="/img/avatars/75/4.jpg">
				</a>
					<div class="chat-body notes notes-primary">
						<div class="name">
							Wayne Young
						</div>
						<div class="datetime">
							May 25, 2013 10:10 AM
						</div>
						<p class="message">
							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
						</p>
					</div>
				</li>
				<li class="chat in"><a href="#" class="img">
					<img class="chat-img img-circle" src="/img/avatars/75/3.jpg">
				</a>
					<div class="chat-body notes notes-success">
						<div class="name">
							Carlos Miller
						</div>
						<div class="datetime">
							May 25, 2013 11:05 AM
						</div>
						<p class="message">
							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
						</p>
					</div>
				</li>
				<li class="chat out"><a href="#" class="img">
					<img class="chat-img img-circle" src="/img/avatars/75/4.jpg">
				</a>
					<div class="chat-body notes notes-primary">
						<div class="name">
							Wayne Young
						</div>
						<div class="datetime">
							May 25, 2013 11:10 AM
						</div>
						<p class="message">
							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="chat-send">
			<div class="input-group">
				<input type="text" id="msg" name="msg" class="form-control" placeholder="Message" />
				<span class="input-group-btn">
					<button id="send" class="btn btn-primary">
						<i class="fa fa-check"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>
