<h5 class="news-heading">
    <i class="fa fa-comments"></i>&nbsp;Top Commenters
</h5>
<ul class="users-list slimscroll" data-height="480">
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/4.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Wayne Young
                </div>
                <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/3.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Carlos Miller
                </div>
                <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/1.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Angelina Glory
                </div>
                <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/2.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Susan Hernandez
                </div>
                <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/4.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Wayne Young
                </div>
                <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/3.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Carlos Miller
                </div>
                <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/1.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Angelina Glory
                </div>
                <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/2.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Susan Hernandez
                </div>
                <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </p>
            </div>
        </a>
    </li>
</ul>
