<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">
			Entypo Icons</h3>@Html.Partial("_PanelCloseTools")
	</div>
	<div class="panel-body">
		<div class="entypo-icons">
			<ul class="entypo-icons-list">
				<li><span class="entypo entypo-phone"></span><span class="entypo-class">entypo-phone</span></li>
				<li><span class="entypo entypo-mobile"></span><span class="entypo-class">entypo-mobile</span></li>
				<li><span class="entypo entypo-mouse"></span><span class="entypo-class">entypo-mouse</span></li>
				<li><span class="entypo entypo-address"></span><span class="entypo-class">entypo-address</span></li>
				<li><span class="entypo entypo-mail"></span><span class="entypo-class">entypo-mail</span></li>
				<li><span class="entypo entypo-paper-plane"></span><span class="entypo-class">entypo-paper-plane</span></li>
				<li><span class="entypo entypo-pencil"></span><span class="entypo-class">entypo-pencil</span></li>
				<li><span class="entypo entypo-feather"></span><span class="entypo-class">entypo-feather</span></li>
				<li><span class="entypo entypo-attach"></span><span class="entypo-class">entypo-attach</span></li>
				<li><span class="entypo entypo-inbox"></span><span class="entypo-class">entypo-inbox</span></li>
				<li><span class="entypo entypo-reply"></span><span class="entypo-class">entypo-reply</span></li>
				<li><span class="entypo entypo-reply-all"></span><span class="entypo-class">entypo-reply-all</span></li>
				<li><span class="entypo entypo-forward"></span><span class="entypo-class">entypo-forward</span></li>
				<li><span class="entypo entypo-user"></span><span class="entypo-class">entypo-user</span></li>
				<li><span class="entypo entypo-users"></span><span class="entypo-class">entypo-users</span></li>
				<li><span class="entypo entypo-vcard"></span><span class="entypo-class">entypo-vcard</span></li>
				<li><span class="entypo entypo-export"></span><span class="entypo-class">entypo-export</span></li>
				<li><span class="entypo entypo-location"></span><span class="entypo-class">entypo-location</span></li>
				<li><span class="entypo entypo-map"></span><span class="entypo-class">entypo-map</span></li>
				<li><span class="entypo entypo-compass"></span><span class="entypo-class">entypo-compass</span></li>
				<li><span class="entypo entypo-direction"></span><span class="entypo-class">entypo-direction</span></li>
				<li><span class="entypo entypo-share"></span><span class="entypo-class">entypo-share</span></li>
				<li><span class="entypo entypo-shareable"></span><span class="entypo-class">entypo-shareable</span></li>
				<li><span class="entypo entypo-heart"></span><span class="entypo-class">entypo-heart</span></li>
				<li><span class="entypo entypo-heart-empty"></span><span class="entypo-class">entypo-heart-empty</span></li>
				<li><span class="entypo entypo-star"></span><span class="entypo-class">entypo-star</span></li>
				<li><span class="entypo entypo-star-empty"></span><span class="entypo-class">entypo-star-empty</span></li>
				<li><span class="entypo entypo-thumbs-up"></span><span class="entypo-class">entypo-thumbs-up</span></li>
				<li><span class="entypo entypo-thumbs-down"></span><span class="entypo-class">entypo-thumbs-down</span></li>
				<li><span class="entypo entypo-chat"></span><span class="entypo-class">entypo-chat</span></li>
				<li><span class="entypo entypo-comment"></span><span class="entypo-class">entypo-comment</span></li>
				<li><span class="entypo entypo-quote"></span><span class="entypo-class">entypo-quote</span></li>
				<li><span class="entypo entypo-home"></span><span class="entypo-class">entypo-home</span></li>
				<li><span class="entypo entypo-popup"></span><span class="entypo-class">entypo-popup</span></li>
				<li><span class="entypo entypo-search"></span><span class="entypo-class">entypo-search</span></li>
				<li><span class="entypo entypo-flashlight"></span><span class="entypo-class">entypo-flashlight</span></li>
				<li><span class="entypo entypo-print"></span><span class="entypo-class">entypo-print</span></li>
				<li><span class="entypo entypo-bell"></span><span class="entypo-class">entypo-bell</span></li>
				<li><span class="entypo entypo-link"></span><span class="entypo-class">entypo-link</span></li>
				<li><span class="entypo entypo-flag"></span><span class="entypo-class">entypo-flag</span></li>
				<li><span class="entypo entypo-cog"></span><span class="entypo-class">entypo-cog</span></li>
				<li><span class="entypo entypo-tools"></span><span class="entypo-class">entypo-tools</span></li>
				<li><span class="entypo entypo-trophy"></span><span class="entypo-class">entypo-trophy</span></li>
				<li><span class="entypo entypo-tag"></span><span class="entypo-class">entypo-tag</span></li>
				<li><span class="entypo entypo-camera"></span><span class="entypo-class">entypo-camera</span></li>
				<li><span class="entypo entypo-megaphone"></span><span class="entypo-class">entypo-megaphone</span></li>
				<li><span class="entypo entypo-moon"></span><span class="entypo-class">entypo-moon</span></li>
				<li><span class="entypo entypo-palette"></span><span class="entypo-class">entypo-palette</span></li>
				<li><span class="entypo entypo-leaf"></span><span class="entypo-class">entypo-leaf</span></li>
				<li><span class="entypo entypo-note"></span><span class="entypo-class">entypo-note</span></li>
				<li><span class="entypo entypo-graduation-cap"></span><span class="entypo-class">entypo-graduation-cap</span></li>
				<li><span class="entypo entypo-book"></span><span class="entypo-class">entypo-book</span></li>
				<li><span class="entypo entypo-newspaper"></span><span class="entypo-class">entypo-newspaper</span></li>
				<li><span class="entypo entypo-bag"></span><span class="entypo-class">entypo-bag</span></li>
				<li><span class="entypo entypo-lifebuoy"></span><span class="entypo-class">entypo-lifebuoy</span></li>
				<li><span class="entypo entypo-eye"></span><span class="entypo-class">entypo-eye</span></li>
				<li><span class="entypo entypo-clock"></span><span class="entypo-class">entypo-clock</span></li>
				<li><span class="entypo entypo-mic"></span><span class="entypo-class">entypo-mic</span></li>
				<li><span class="entypo entypo-calendar"></span><span class="entypo-class">entypo-calendar</span></li>
				<li><span class="entypo entypo-flash"></span><span class="entypo-class">entypo-flash</span></li>
				<li><span class="entypo entypo-thunder-cloud"></span><span class="entypo-class">entypo-thunder-cloud</span></li>
				<li><span class="entypo entypo-droplet"></span><span class="entypo-class">entypo-droplet</span></li>
				<li><span class="entypo entypo-cd"></span><span class="entypo-class">entypo-cd</span></li>
				<li><span class="entypo entypo-briefcase"></span><span class="entypo-class">entypo-briefcase</span></li>
				<li><span class="entypo entypo-air"></span><span class="entypo-class">entypo-air</span></li>
				<li><span class="entypo entypo-hourglass"></span><span class="entypo-class">entypo-hourglass</span></li>
				<li><span class="entypo entypo-gauge"></span><span class="entypo-class">entypo-gauge</span></li>
				<li><span class="entypo entypo-language"></span><span class="entypo-class">entypo-language</span></li>
				<li><span class="entypo entypo-network"></span><span class="entypo-class">entypo-network</span></li>
				<li><span class="entypo entypo-key"></span><span class="entypo-class">entypo-key</span></li>
				<li><span class="entypo entypo-battery"></span><span class="entypo-class">entypo-battery</span></li>
				<li><span class="entypo entypo-bucket"></span><span class="entypo-class">entypo-bucket</span></li>
				<li><span class="entypo entypo-magnet"></span><span class="entypo-class">entypo-magnet</span></li>
				<li><span class="entypo entypo-drive"></span><span class="entypo-class">entypo-drive</span></li>
				<li><span class="entypo entypo-cup"></span><span class="entypo-class">entypo-cup</span></li>
				<li><span class="entypo entypo-rocket"></span><span class="entypo-class">entypo-rocket</span></li>
				<li><span class="entypo entypo-brush"></span><span class="entypo-class">entypo-brush</span></li>
				<li><span class="entypo entypo-suitcase"></span><span class="entypo-class">entypo-suitcase</span></li>
				<li><span class="entypo entypo-traffic-cone"></span><span class="entypo-class">entypo-traffic-cone</span></li>
				<li><span class="entypo entypo-globe"></span><span class="entypo-class">entypo-globe</span></li>
				<li><span class="entypo entypo-keyboard"></span><span class="entypo-class">entypo-keyboard</span></li>
				<li><span class="entypo entypo-publish"></span><span class="entypo-class">entypo-publish</span></li>
				<li><span class="entypo entypo-progress-3"></span><span class="entypo-class">entypo-progress-3</span></li>
				<li><span class="entypo entypo-progress-2"></span><span class="entypo-class">entypo-progress-2</span></li>
				<li><span class="entypo entypo-progress-1"></span><span class="entypo-class">entypo-progress-1</span></li>
				<li><span class="entypo entypo-progress-0"></span><span class="entypo-class">entypo-progress-0</span></li>
				<li><span class="entypo entypo-light-down"></span><span class="entypo-class">entypo-light-down</span></li>
				<li><span class="entypo entypo-light-up"></span><span class="entypo-class">entypo-light-up</span></li>
				<li><span class="entypo entypo-adjust"></span><span class="entypo-class">entypo-adjust</span></li>
				<li><span class="entypo entypo-code"></span><span class="entypo-class">entypo-code</span></li>
				<li><span class="entypo entypo-monitor"></span><span class="entypo-class">entypo-monitor</span></li>
				<li><span class="entypo entypo-infinity"></span><span class="entypo-class">entypo-infinity</span></li>
				<li><span class="entypo entypo-credit-card"></span><span class="entypo-class">entypo-credit-card</span></li>
				<li><span class="entypo entypo-database"></span><span class="entypo-class">entypo-database</span></li>
				<li><span class="entypo entypo-clipboard"></span><span class="entypo-class">entypo-clipboard</span></li>
				<li><span class="entypo entypo-box"></span><span class="entypo-class">entypo-box</span></li>
				<li><span class="entypo entypo-ticket"></span><span class="entypo-class">entypo-ticket</span></li>
				<li><span class="entypo entypo-rss"></span><span class="entypo-class">entypo-rss</span></li>
				<li><span class="entypo entypo-signal"></span><span class="entypo-class">entypo-signal</span></li>
				<li><span class="entypo entypo-thermometer"></span><span class="entypo-class">entypo-thermometer</span></li>
				<li><span class="entypo entypo-water"></span><span class="entypo-class">entypo-water</span></li>
				<li><span class="entypo entypo-sweden"></span><span class="entypo-class">entypo-sweden</span></li>
				<li><span class="entypo entypo-lock"></span><span class="entypo-class">entypo-lock</span></li>
				<li><span class="entypo entypo-lock-open"></span><span class="entypo-class">entypo-lock-open</span></li>
				<li><span class="entypo entypo-logout"></span><span class="entypo-class">entypo-logout</span></li>
				<li><span class="entypo entypo-login"></span><span class="entypo-class">entypo-login</span></li>
				<li><span class="entypo entypo-check"></span><span class="entypo-class">entypo-check</span></li>
				<li><span class="entypo entypo-minus"></span><span class="entypo-class">entypo-minus</span></li>
				<li><span class="entypo entypo-plus"></span><span class="entypo-class">entypo-plus</span></li>
				<li><span class="entypo entypo-erase"></span><span class="entypo-class">entypo-erase</span></li>
				<li><span class="entypo entypo-block"></span><span class="entypo-class">entypo-block</span></li>
				<li><span class="entypo entypo-info"></span><span class="entypo-class">entypo-info</span></li>
				<li><span class="entypo entypo-help"></span><span class="entypo-class">entypo-help</span></li>
				<li><span class="entypo entypo-cw"></span><span class="entypo-class">entypo-cw</span></li>
				<li><span class="entypo entypo-ccw"></span><span class="entypo-class">entypo-ccw</span></li>
				<li><span class="entypo entypo-shuffle"></span><span class="entypo-class">entypo-shuffle</span></li>
				<li><span class="entypo entypo-back"></span><span class="entypo-class">entypo-back</span></li>
				<li><span class="entypo entypo-level-down"></span><span class="entypo-class">entypo-level-down</span></li>
				<li><span class="entypo entypo-retweet"></span><span class="entypo-class">entypo-retweet</span></li>
				<li><span class="entypo entypo-loop"></span><span class="entypo-class">entypo-loop</span></li>
				<li><span class="entypo entypo-back-in-time"></span><span class="entypo-class">entypo-back-in-time</span></li>
				<li><span class="entypo entypo-level-up"></span><span class="entypo-class">entypo-level-up</span></li>
				<li><span class="entypo entypo-switch"></span><span class="entypo-class">entypo-switch</span></li>
				<li><span class="entypo entypo-layout"></span><span class="entypo-class">entypo-layout</span></li>
				<li><span class="entypo entypo-list"></span><span class="entypo-class">entypo-list</span></li>
				<li><span class="entypo entypo-doc"></span><span class="entypo-class">entypo-doc</span></li>
				<li><span class="entypo entypo-docs"></span><span class="entypo-class">entypo-docs</span></li>
				<li><span class="entypo entypo-picture"></span><span class="entypo-class">entypo-picture</span></li>
				<li><span class="entypo entypo-video"></span><span class="entypo-class">entypo-video</span></li>
				<li><span class="entypo entypo-music"></span><span class="entypo-class">entypo-music</span></li>
				<li><span class="entypo entypo-folder"></span><span class="entypo-class">entypo-folder</span></li>
				<li><span class="entypo entypo-archive"></span><span class="entypo-class">entypo-archive</span></li>
				<li><span class="entypo entypo-trash"></span><span class="entypo-class">entypo-trash</span></li>
				<li><span class="entypo entypo-upload"></span><span class="entypo-class">entypo-upload</span></li>
				<li><span class="entypo entypo-download"></span><span class="entypo-class">entypo-download</span></li>
				<li><span class="entypo entypo-install"></span><span class="entypo-class">entypo-install</span></li>
				<li><span class="entypo entypo-cloud"></span><span class="entypo-class">entypo-cloud</span></li>
				<li><span class="entypo entypo-upload-cloud"></span><span class="entypo-class">entypo-upload-cloud</span></li>
				<li><span class="entypo entypo-bookmark"></span><span class="entypo-class">entypo-bookmark</span></li>
				<li><span class="entypo entypo-bookmarks"></span><span class="entypo-class">entypo-bookmarks</span></li>
				<li><span class="entypo entypo-play"></span><span class="entypo-class">entypo-play</span></li>
				<li><span class="entypo entypo-record"></span><span class="entypo-class">entypo-record</span></li>
				<li><span class="entypo entypo-stop"></span><span class="entypo-class">entypo-stop</span></li>
				<li><span class="entypo entypo-to-start"></span><span class="entypo-class">entypo-to-start</span></li>
				<li><span class="entypo entypo-to-end"></span><span class="entypo-class">entypo-to-end</span></li>
				<li><span class="entypo entypo-resize-full"></span><span class="entypo-class">entypo-resize-full</span></li>
				<li><span class="entypo entypo-resize-small"></span><span class="entypo-class">entypo-resize-small</span></li>
				<li><span class="entypo entypo-volume"></span><span class="entypo-class">entypo-volume</span></li>
				<li><span class="entypo entypo-sound"></span><span class="entypo-class">entypo-sound</span></li>
				<li><span class="entypo entypo-mute"></span><span class="entypo-class">entypo-mute</span></li>
				<li><span class="entypo entypo-flow-cascade"></span><span class="entypo-class">entypo-flow-cascade</span></li>
				<li><span class="entypo entypo-flow-branch"></span><span class="entypo-class">entypo-flow-branch</span></li>
				<li><span class="entypo entypo-flow-tree"></span><span class="entypo-class">entypo-flow-tree</span></li>
				<li><span class="entypo entypo-flow-line"></span><span class="entypo-class">entypo-flow-line</span></li>
				<li><span class="entypo entypo-flow-parallel"></span><span class="entypo-class">entypo-flow-parallel</span></li>
				<li><span class="entypo entypo-left-bold"></span><span class="entypo-class">entypo-left-bold</span></li>
				<li><span class="entypo entypo-down-bold"></span><span class="entypo-class">entypo-down-bold</span></li>
				<li><span class="entypo entypo-up-bold"></span><span class="entypo-class">entypo-up-bold</span></li>
				<li><span class="entypo entypo-right-bold"></span><span class="entypo-class">entypo-right-bold</span></li>
				<li><span class="entypo entypo-left"></span><span class="entypo-class">entypo-left</span></li>
				<li><span class="entypo entypo-down"></span><span class="entypo-class">entypo-down</span></li>
				<li><span class="entypo entypo-up"></span><span class="entypo-class">entypo-up</span></li>
				<li><span class="entypo entypo-right"></span><span class="entypo-class">entypo-right</span></li>
				<li><span class="entypo entypo-left-thin"></span><span class="entypo-class">entypo-left-thin</span></li>
				<li><span class="entypo entypo-down-thin"></span><span class="entypo-class">entypo-down-thin</span></li>
				<li><span class="entypo entypo-up-thin"></span><span class="entypo-class">entypo-up-thin</span></li>
				<li><span class="entypo entypo-right-thin"></span><span class="entypo-class">entypo-right-thin</span></li>
				<li><span class="entypo entypo-arrow-combo"></span><span class="entypo-class">entypo-arrow-combo</span></li>
				<li><span class="entypo entypo-dot"></span><span class="entypo-class">entypo-dot</span></li>
				<li><span class="entypo entypo-cc"></span><span class="entypo-class">entypo-cc</span></li>
				<li><span class="entypo entypo-cc-by"></span><span class="entypo-class">entypo-cc-by</span></li>
				<li><span class="entypo entypo-cc-nc"></span><span class="entypo-class">entypo-cc-nc</span></li>
				<li><span class="entypo entypo-cc-nc-eu"></span><span class="entypo-class">entypo-cc-nc-eu</span></li>
				<li><span class="entypo entypo-cc-nc-jp"></span><span class="entypo-class">entypo-cc-nc-jp</span></li>
				<li><span class="entypo entypo-cc-sa"></span><span class="entypo-class">entypo-cc-sa</span></li>
				<li><span class="entypo entypo-cc-nd"></span><span class="entypo-class">entypo-cc-nd</span></li>
				<li><span class="entypo entypo-cc-pd"></span><span class="entypo-class">entypo-cc-pd</span></li>
				<li><span class="entypo entypo-cc-zero"></span><span class="entypo-class">entypo-cc-zero</span></li>
				<li><span class="entypo entypo-cc-share"></span><span class="entypo-class">entypo-cc-share</span></li>
				<li><span class="entypo entypo-cc-remix"></span><span class="entypo-class">entypo-cc-remix</span></li>
				<li><span class="entypo entypo-db-shape"></span><span class="entypo-class">entypo-db-shape</span></li>
			</ul>
		</div>
	</div>
</div>
