<h5 class="news-heading">
    <i class="fa fa-star"></i>&nbsp;Popular Contacts
</h5>
<ul class="users-list slimscroll" data-height="480">
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/4.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Wayne Young
                </div>
                <button type="button" id="call" class="btn btn-danger btn-xs margin-top-10 margin-right-10">
                    <i class="fa fa-phone"></i>&nbsp;Call
                </button>
                <button class="btn btn-xs btn-warning margin-top-10">
                    <i class="fa fa-envelope-o"></i>&nbsp;Message
                </button>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/2.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Susan Hernandez
                </div>
                <button type="button" id="call" class="btn btn-danger btn-xs margin-top-10 margin-right-10">
                    <i class="fa fa-phone"></i>&nbsp;Call
                </button>
                <button class="btn btn-xs btn-warning margin-top-10">
                    <i class="fa fa-envelope-o"></i>&nbsp;Message
                </button>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/1.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Angelina Glory
                </div>
                <button type="button" id="call" class="btn btn-danger btn-xs margin-top-10 margin-right-10">
                    <i class="fa fa-phone"></i>&nbsp;Call
                </button>
                <button class="btn btn-xs btn-warning margin-top-10">
                    <i class="fa fa-envelope-o"></i>&nbsp;Message
                </button>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/3.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Carlos Miller
                </div>
                <button type="button" id="call" class="btn btn-danger btn-xs margin-top-10 margin-right-10">
                    <i class="fa fa-phone"></i>&nbsp;Call
                </button>
                <button class="btn btn-xs btn-warning margin-top-10">
                    <i class="fa fa-envelope-o"></i>&nbsp;Message
                </button>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/4.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Wayne Young
                </div>
                <button type="button" id="call" class="btn btn-danger btn-xs margin-top-10 margin-right-10">
                    <i class="fa fa-phone"></i>&nbsp;Call
                </button>
                <button class="btn btn-xs btn-warning margin-top-10">
                    <i class="fa fa-envelope-o"></i>&nbsp;Message
                </button>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/2.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Susan Hernandez
                </div>
                <button type="button" id="call" class="btn btn-danger btn-xs margin-top-10 margin-right-10">
                    <i class="fa fa-phone"></i>&nbsp;Call
                </button>
                <button class="btn btn-xs btn-warning margin-top-10">
                    <i class="fa fa-envelope-o"></i>&nbsp;Message
                </button>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/1.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Angelina Glory
                </div>
                <button type="button" id="call" class="btn btn-danger btn-xs margin-top-10 margin-right-10">
                    <i class="fa fa-phone"></i>&nbsp;Call
                </button>
                <button class="btn btn-xs btn-warning margin-top-10">
                    <i class="fa fa-envelope-o"></i>&nbsp;Message
                </button>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="img-box">
                <img src="/img/avatars/75/3.jpg" alt="" class="pull-left img-circle" />
            </div>
            <div class="news-item-content">
                <div class="name">
                    Carlos Miller
                </div>
                <button type="button" id="call" class="btn btn-danger btn-xs margin-top-10 margin-right-10">
                    <i class="fa fa-phone"></i>&nbsp;Call
                </button>
                <button class="btn btn-xs btn-warning margin-top-10">
                    <i class="fa fa-envelope-o"></i>&nbsp;Message
                </button>
            </div>
        </a>
    </li>
</ul>