<div class="feed">
	<ul>
		<li class="feed-row">
			<div class="feed-icon bg-primary">
				<i class="fa fa-comment"></i>
			</div>
			<div class="feed-time">
				Yesterday
			</div>
			<div class="feed-content">
				<p>
					<a href="#">Jimmy Bennett</a> commented
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh ut laoreet.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh ut laoreet.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh ut laoreet
				</p>
			</div>
		</li>
		<li class="feed-row">
			<div class="feed-icon bg-success">
				<i class="fa fa-user"></i>
			</div>
			<div class="feed-time">
				9:00 AM
			</div>
			<div class="feed-content">
				<p>
					<img src="/img/avatars/75/3.jpg" class="pull-left margin-right-10" /><a href="#">Carlos Miller</a> new user registered
				</p>
			</div>
		</li>
		<li class="feed-row">
			<div class="feed-icon bg-info">
				<i class="fa fa-file"></i>
			</div>
			<div class="feed-time">
				9:30 AM
			</div>
			<div class="feed-content">
				<p>
					<a href="#">Carlos Miller</a> create new article
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh ut laoreet.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh ut laoreet.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh ut laoreet
				</p>
			</div>
		</li>
		<li class="feed-row">
			<div class="feed-icon bg-warning">
				<i class="fa fa-user"></i>
			</div>
			<div class="feed-time">
				9:45 AM
			</div>
			<div class="feed-content">
				<p>
					<a href="#">Angelina Glory</a> changed profile photo
				</p>
				<p>
					<img src="/img/avatars/75/1.jpg" />
				</p>
			</div>
		</li>
		<li class="feed-row">
			<div class="feed-icon bg-danger">
				<i class="fa fa-user"></i>
			</div>
			<div class="feed-time">
				10:30 AM
			</div>
			<div class="feed-content">
				<p>
					<a href="#">Wayne Young</a> uploaded new photos
				</p>
				<p>
					<img src="/img/1.jpg" />
					<img src="/img/2.jpg" />
					<img src="/img/3.jpg" />
					<img src="/img/4.jpg" />
				</p>
			</div>
		</li>
		<li class="feed-row">
			<div class="feed-icon bg-purple">
				<i class="fa fa-group"></i>
			</div>
			<div class="feed-time">
				11:30 AM
			</div>
			<div class="feed-content">
				<p>
					<a href="#">Event Celebrations</a>
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh ut laoreet.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh ut laoreet.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh ut laoreet
				</p>
			</div>
		</li>
		<li class="feed-row">
			<div class="feed-icon bg-cardovan">
				<i class="fa fa-youtube"></i>
			</div>
			<div class="feed-time">
				12:00 PM
			</div>
			<div class="feed-content">
				<p>
					<a href="#">Kelly King</a> shared a video
				</p>
				<p>
					<iframe width="300" height="169" src="http://www.youtube.com/embed/fLe_qO4AE-M" frameborder="0" allowfullscreen></iframe>
				</p>
			</div>
		</li>
	</ul>
</div>
