<div class="panel-tools">
    <a class="icon-action" data-action='collapse'><i class="fa fa-angle-down"></i></a>
    <a class="icon-action" data-action='refresh'><i class="fa fa-refresh"></i></a>
    <a class="icon-action" data-action='remove'><i class="fa fa-times"></i></a>
</div>
