<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="lesspath" value="E:\Projects\dotnetsource" />
		<add key="lessfilenames" value="components.less,css\components.css|site.less,css\site.css|sky-blue.less,css\themes\sky-blue.css|green.less,css\themes\green.css|blue-green.less,css\themes\blue-green.css|orange.less,css\themes\orange.css|red.less,css\themes\red.css|purple.less,css\themes\purple.css|cardovan.less,css\themes\cardovan.css|teal.less,css\themes\teal.css|pink.less,css\themes\pink.css,|dark-blue.less,css\themes\dark-blue.css|blue.less,css\themes\blue.css|black.less,css\themes\black.css" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
