body {
    background: #001130;
}
body.public {
     background: #003471;
}
/* logo */
.logo .name {
	color: #fff;
}
.logo .type {
	color: #FF0741;
}
/* lockout */
.lockout-panel {
	color:#fff;
}
/* header */
.header {
    background: #022856;
}
.header .header-nav .icon-nav > li > a {
    color: #fff;
}
.header .header-nav .icon-nav > li > a:hover, .header .header-nav .icon-nav > li > a:focus, .header .header-nav .nav .open > a, .header .header-nav .nav .open > a:hover, .header .header-nav .nav .open > a:focus, .header .navbar-toggle.ps-sm-toggler:hover, .header .navbar-toggle.ps-sm-toggler:focus {
    background: #084C9F !important;
    color: #fff !important;
}
.header .header-nav .icon-nav > li > .dropdown-menu {
    border-color: #003471;
}
.header .navbar-brand {
    color: #f5f5f5;
}
/* page-sidebar */
.page-container, .page-sidebar {
    background: #002F65;
    color: #fff;
}
.page-container .page-content, .page-container .footer {
    background: #fff;
    color: #333;
}
.page-sidebar-collapse .page-sidebar-search.open {
    background-color: #052952;
    color: #F5F5F5;
}
.page-sidebar-menu.nav li a {
    color: #F5F5F5;
}
/* page-sidebar first level menu */
.page-sidebar-menu.nav > li > a {
    border-bottom: 1px solid #003E95 !important;
}
.page-sidebar-menu.nav > li > a:hover, .page-sidebar-menu.nav > li > a:focus, .page-sidebar-collapse .page-sidebar-menu > li:hover > a, .page-sidebar-menu.nav > li.active > a {
    background-color: #084C9F;
    color: #F5F5F5;
}
/* page-sidebar second level menu */
.page-sidebar-menu.nav > li > .nav {
    background: #002A5A;
}
.page-sidebar-menu.nav > li > .nav li.active > a, 
.page-sidebar-menu.nav > li > .nav li a:hover, 
.page-sidebar-menu.nav > li > .nav li a:focus {
    background-color: #001834;
    color: #F5F5F5;
}
.page-sidebar-menu.nav > li > .nav li a {
    border-bottom: 1px solid #063D7D !important;
}
.page-sidebar-search .btn.btn-default {
    background-color: #1055C2;
    color: #fff;
    border-color: #1055C2;
}
.page-sidebar-menu .navbar-toggle .icon-bar {
    background-color: #fff;
}
