body {
  background: #000000;
}
body.public {
  background: #002f65;
}
/* logo */
.logo .name {
  color: #ffffff;
}
.logo .type {
  color: #ff0741;
}
/* header */
.header {
  background: #002856;
}
.header .navbar-brand {
  color: #f2f2f2;
}
/* header horizontal menu */
.header .hor-menu .navbar-nav > li > a {
  color: #f2f2f2 !important;
  background: inherit;
}
.header .hor-menu .navbar-nav > li.active > a,
.header .hor-menu .navbar-nav > li > a:hover,
.header .hor-menu .navbar-nav > li > a:focus {
  color: #f2f2f2 !important;
  background-color: #004798 !important;
}
@media (max-width: 991px) {
  .header .hor-menu {
    background: #000000;
  }
  .header .hor-menu > .nav {
    background: #002f65;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #004798 !important;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu .divider {
    background-color: #004798 !important;
  }
  .header .hor-menu .navbar-nav > li > a,
  .header .hor-menu .navbar-nav .open .dropdown-menu > li > a {
    border-bottom: 1px solid #004798 !important;
    color: #f2f2f2 !important;
    background: inherit;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu {
    background: #00234b !important;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu > li > a:hover,
  .header .hor-menu .navbar-nav .open .dropdown-menu > li > a:focus,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .active > a,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .active > a:hover,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff !important;
    background-color: #001328 !important;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu > .disabled > a,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444 !important;
    background-color: transparent !important;
  }
}
/* page-sidebar */
.page-container,
.page-sidebar {
  background: #002f65;
  color: #ffffff;
}
.page-sidebar-menu .navbar-toggle:hover {
  background-color: #004798;
}
.page-container .page-content,
.page-container .footer {
  background: #ffffff;
  color: #333333;
}
.page-sidebar-collapse .page-sidebar-search.open {
  background-color: #002f65;
}
.page-sidebar-menu.nav li a {
  color: #f2f2f2;
}
/* page-sidebar first level menu */
.page-sidebar-menu.nav > li > a {
  border-bottom: 1px solid #004798 !important;
}
.page-sidebar-menu.nav > li > a:hover,
.page-sidebar-menu.nav > li > a:focus,
.page-sidebar-collapse .page-sidebar-menu > li:hover > a,
.page-sidebar-menu.nav > li.active > a {
  background-color: #004798;
}
/* page-sidebar second level menu */
.page-sidebar-menu.nav > li > .nav {
  background: #00234b;
}
.page-sidebar-menu.nav > li .nav li.active > a,
.page-sidebar-menu.nav > li .nav li a:hover,
.page-sidebar-menu.nav > li .nav li a:focus {
  background-color: #001328;
  color: #ffffff;
}
.page-sidebar-menu.nav > li > .nav li a {
  border-bottom: 1px solid #004798 !important;
}
.page-sidebar-search .btn.btn-default {
  background-color: #005ecb;
  color: #ffffff;
  border-color: #005ecb;
}
.page-sidebar-menu .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
/* header dropdown-menu */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: #0076fe;
  color: #ffffff;
}
/* page tab layout */
.page-tab-layout {
  background: #002f65;
}
.page-tab-layout .page-tab-menu {
  background: #00234b;
  color: #ffffff;
}
.page-tab-layout .page-tab-menu > ul > li > a:hover {
  background-color: #004ba2;
}
.page-tab-layout .page-tab-menu > ul > li.active > a {
  background-color: #004798;
}
.page-tab-layout .page-tab-menu > ul > li.active > ul {
  background-color: #004798;
}
.page-tab-layout .page-tab-menu > ul > li > a {
  border-right: solid 1px #001c3c;
}
.page-tab-layout .page-tab-menu > ul > li.active > ul > li > a {
  color: #ffffff;
}
.page-tab-layout .page-tab-menu > ul > li.active > ul > li.open,
.page-tab-layout .page-tab-menu > ul > li.active > ul > li.active a,
.page-tab-layout .page-tab-menu > ul > li.active > ul > li > a:hover {
  background-color: #001c3c;
  color: #ffffff;
}
.page-tab-layout .page-container {
  background: #ffffff;
}
