body {
  background: #003f80;
}
/* header */
.header {
  background: #0077f0;
}
.header .navbar-brand {
  color: #f2f2f2;
}
/* header horizontal menu */
.header .hor-menu .navbar-nav > li > a {
  color: #f2f2f2 !important;
  background: inherit;
}
.header .hor-menu .navbar-nav > li.active > a,
.header .hor-menu .navbar-nav > li > a:hover,
.header .hor-menu .navbar-nav > li > a:focus {
  color: #f2f2f2 !important;
  background-color: #3399ff !important;
}
@media (max-width: 991px) {
  .header .hor-menu {
    background: #003f80;
  }
  .header .hor-menu > .nav {
    background: #007fff;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #3399ff !important;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu .divider {
    background-color: #3399ff !important;
  }
  .header .hor-menu .navbar-nav > li > a,
  .header .hor-menu .navbar-nav .open .dropdown-menu > li > a {
    border-bottom: 1px solid #3399ff !important;
    color: #f2f2f2 !important;
    background: inherit;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu {
    background: #0072e6 !important;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu > li > a:hover,
  .header .hor-menu .navbar-nav .open .dropdown-menu > li > a:focus,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .active > a,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .active > a:hover,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff !important;
    background-color: #0061c2 !important;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu > .disabled > a,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444 !important;
    background-color: transparent !important;
  }
}
/* page-sidebar */
.page-container,
.page-sidebar {
  background: #007fff;
  color: #ffffff;
}
.page-sidebar-menu .navbar-toggle:hover {
  background-color: #3399ff;
}
.page-container .page-content,
.page-container .footer {
  background: #ffffff;
  color: #333333;
}
.page-sidebar-collapse .page-sidebar-search.open {
  background-color: #007fff;
}
.page-sidebar-menu.nav li a {
  color: #f2f2f2;
}
/* page-sidebar first level menu */
.page-sidebar-menu.nav > li > a {
  border-bottom: 1px solid #3399ff !important;
}
.page-sidebar-menu.nav > li > a:hover,
.page-sidebar-menu.nav > li > a:focus,
.page-sidebar-collapse .page-sidebar-menu > li:hover > a,
.page-sidebar-menu.nav > li.active > a,
.page-sidebar-menu.nav > li.open > a {
  background-color: #3399ff;
}
/* page-sidebar second level menu */
.page-sidebar-menu.nav > li > .nav {
  background: #0072e6;
}
.page-sidebar-menu.nav > li .nav li.active > a,
.page-sidebar-menu.nav > li .nav li a:hover,
.page-sidebar-menu.nav > li .nav li a:focus {
  background-color: #0061c2;
  color: #ffffff;
}
.page-sidebar-menu.nav > li > .nav li a {
  border-bottom: 1px solid #3399ff !important;
}
.page-sidebar-search .btn.btn-default {
  background-color: #66b2ff;
  color: #ffffff;
  border-color: #66b2ff;
}
.page-sidebar-menu .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
/* header dropdown-menu */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: #99ccff;
  color: #ffffff;
}
