/* dropdown */
/* page sidebar */
/* header */
.header {
  background: #0077f0;
}
.header .navbar-brand {
  color: #f2f2f2;
}
/* header horizontal menu */
.header .hor-menu .navbar-nav > li > a {
  color: #333333 !important;
  background: inherit;
}
.header .hor-menu .navbar-nav > li.active > a,
.header .hor-menu .navbar-nav > li > a:hover,
.header .hor-menu .navbar-nav > li > a:focus {
  color: #333333 !important;
  background-color: #ffffff !important;
}
@media (max-width: 991px) {
  .header .hor-menu {
    background: #003f80;
  }
  .header .hor-menu > .nav {
    background: #007fff;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #3399ff !important;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu .divider {
    background-color: #3399ff !important;
  }
  .header .hor-menu .navbar-nav > li > a,
  .header .hor-menu .navbar-nav .open .dropdown-menu > li > a {
    border-bottom: 1px solid #e5e5e5 !important;
    color: #333333 !important;
    background: inherit;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu {
    background: #ffffff !important;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu > li > a:hover,
  .header .hor-menu .navbar-nav .open .dropdown-menu > li > a:focus,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .active > a,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .active > a:hover,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #333333 !important;
    background-color: #ffffff !important;
  }
  .header .hor-menu .navbar-nav .open .dropdown-menu > .disabled > a,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .header .hor-menu .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444 !important;
    background-color: transparent !important;
  }
}
/* page-sidebar */
.page-sidebar {
  background: #f5f5f5;
  color: #333333;
  border-right: solid 1px #cccccc;
}
.page-sidebar .page-sidebar-menu.nav {
  border-bottom: 1px solid #e5e5e5 !important;
}
.page-sidebar-menu .navbar-toggle:hover {
  background-color: #ffffff;
}
.page-container .page-content,
.page-container .footer {
  background: #ffffff;
  color: #333333;
}
.page-sidebar-collapse .page-sidebar-search.open {
  background-color: #007fff;
}
.page-sidebar-menu.nav li a {
  color: #333333;
}
/* page-sidebar first level menu */
.page-sidebar-menu.nav > li > a {
  border-top: 1px solid #e5e5e5 !important;
}
.page-sidebar-menu.nav > li.open:last-child > a {
  border-bottom: 0 !important;
}
.page-sidebar-menu.nav > li > a:hover,
.page-sidebar-menu.nav > li > a:focus,
.page-sidebar-collapse .page-sidebar-menu > li:hover > a,
.page-sidebar-menu.nav > li.open > a {
  background-color: #ffffff;
}
.page-sidebar-menu.nav > li.open > a {
  background-color: #f3f3f3;
  color: #1963aa;
  font-weight: 600;
}
.page-sidebar-menu.nav > li.active > a {
  background-color: #ffffff;
  color: #2b7dbc;
  font-weight: 600;
}
.page-sidebar-menu.nav > li:hover:before,
.page-sidebar-menu.nav > li.open:before,
.page-sidebar-menu.nav > li.active:after,
.page-sidebar-menu.nav > li.active .nav > li.active:after {
  border-color: #2b7dbc;
  border-image: none;
  border-style: solid;
  border-width: 0 2px 0 0;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 40px;
}
.page-sidebar-menu.nav > li.active:after,
.page-sidebar-menu.nav > li.active .nav > li.active:after {
  right: -2px;
}
.page-sidebar-menu.nav > li:hover:before,
.page-sidebar-menu.nav > li.open:before {
  left: 0;
  border-width: 0 3px 0 0;
}
.page-sidebar-menu.nav > li.active > a:after,
.page-sidebar-menu.nav > li.active > a:before,
.page-sidebar-menu.nav > li.active .nav > li.active > a:after,
.page-sidebar-menu.nav > li.active .nav > li.active > a:before {
  right: 0;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.page-sidebar-menu.nav > li.active .nav > li.active > a:after,
.page-sidebar-menu.nav > li.active > a:after {
  border-color: rgba(43, 125, 188, 0);
  border-right-color: #2b7dbc;
  border-width: 10px;
  margin-top: -10px;
}
.page-sidebar-menu.nav > li.active .nav > li.active > a:before,
.page-sidebar-menu.nav > li.active > a:before {
  border-color: rgba(43, 125, 188, 0);
  border-right-color: #2b7dbc;
  border-width: 11px;
  margin-top: -11px;
}
.page-sidebar-menu.nav > li.page-siebar-toggler:before,
.page-sidebar-menu.nav > li.page-siebar-toggler:after,
.page-sidebar-menu.nav > li.page-sidebar-search:before,
.page-sidebar-menu.nav > li.page-sidebar-search:after {
  display: none;
}
/* page-sidebar second level menu */
.page-sidebar-menu.nav > li > .nav li a {
  background: #ffffff;
}
.page-sidebar-menu.nav > li .nav li.active > a {
  background-color: #f5f5f5;
  color: #2b7dbc;
  font-weight: 600;
}
.page-sidebar-menu.nav > li .nav li a:hover,
.page-sidebar-menu.nav > li .nav li a:focus {
  background-color: #f5f5f5;
  color: #2b7dbc;
}
.page-sidebar-menu.nav > li > .nav li a {
  background: #ffffff;
  border-top: 1px solid #e4e4e4 !important;
}
.page-sidebar-search .btn.btn-default {
  background-color: #007fff;
  color: #ffffff;
  border-color: #007fff;
}
.page-sidebar-menu .navbar-toggle .icon-bar {
  background-color: #333333;
}
/* header dropdown-menu */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: #007fff;
  color: #ffffff;
}
