.page-container {
	padding-left: 0 !important;
	padding-right: 0 !important;
	position: relative;
}
.page-container .page-content {
	position: relative;
	margin-left: @sidebar-width;
	padding: @page-content-padding;
}
.sidebar-animation .page-container .page-content {
	.transition();
	.transition_property(margin-left);
}
@media (max-width: @screen-sm-max) {
    .page-container-no-scroll .page-container .page-content {
		position: fixed;
		top: @header-min-height;
        left:0;
        right:0;
		overflow:hidden;
	}
	.page-container .page-content  {
		margin-left: 0;
	}
}
