/* logo */
.logo {
	font-size: @logo-font-size;
	width: @logo-width;
	margin: 0 auto;
	padding-bottom: 20px;
	text-align: center;
}
.page-fluid .header .container {
	width: auto;
}
.page-container.container {
	padding-left: 0;
	padding-right: 0;
}
.page-fluid .page-container.container {
	width: auto;
}
.page-container .page-content, .page-container .footer {
	margin-left: @page-sidebar-width;
	padding: @page-content-padding;
}
.page-container .footer {
	padding-top: 10px;
	padding-bottom: 10px;
}
/* page header */
.page-header {
	border: 0 none;
	margin: 0 0 15px 0;
	padding: 0;
	position: relative;
}
.page-header > .page-title {
	margin: 0;
	font-size: 30px;
	float:left;
}
.page-header:after {
	 clear:both;
	 content:'';
	 display:table;
}
.layout-change .page-container .page-content, 
.layout-change .page-container .footer {
	.transition();
	.transition_property(margin-left);
}
@media (max-width: @screen-sm-max) {
	.page-container .page-content-overlay {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: @header-min-height;
		z-index: 1;
		background: #000;
		display: none;
	}
	.page-container .page-content, .page-container .footer {
		margin-left: 0;
	}
}
@media (min-width: @screen-md) {
	.page-container .page-content-overlay {
		display: none;
	}
}
 