
//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


// Common
@brand-white: #fff;

@logo-width: 300px;
@logo-font-size: 30px;

// Header 
@header-min-height: 44px;


// Menu Padding
@menu-padding: 10px 15px;
@page-sidebar-small-menu-padding: 10px;
@page-sidebar-medium-menu-padding: 10px;

@second-level-menu-padding: 10px 15px 10px 38px;
@third-level-menu-padding: 10px 15px 10px 58px;
@fourth-level-menu-padding: 10px 15px 10px 78px;
@fifth-level-menu-padding: 10px 15px 10px 98px;

// Page Sidebar
@page-sidebar-width: 220px;

// page sidebar medium
@page-sidebar-medium-width: 110px;
@page-sidebar-medium-search-width: 300px;

@ps-medium-second-level-menu-padding: @page-sidebar-small-menu-padding;
@ps-medium-third-level-menu-padding: 10px 15px 10px 38px;
@ps-medium-fourth-level-menu-padding: 10px 15px 10px 58px;
@ps-medium-fifth-level-menu-padding: 10px 15px 10px 78px;

// Page Sidebar Small
@page-sidebar-small-width: 35px;
@page-sidebar-small-search-width: 300px;
@page-sidebar-small-toggle-height: 40px;

@ps-small-second-level-menu-padding: @page-sidebar-small-menu-padding;
@ps-small-third-level-menu-padding: 10px 15px 10px 38px;
@ps-small-fourth-level-menu-padding: 10px 15px 10px 58px;
@ps-small-fifth-level-menu-padding: 10px 15px 10px 78px;

// Page Content
@page-content-padding: 20px;


