@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Alerts" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/", FirstUrlName = "Home",
		SecondUrl = "/Home/General", SecondUrlName = "UI Features",
		ThirdUrl = "/Home/Alerts", ThirdUrlName = "Alerts"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					Alerts</h3>
				@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4>
					Alert Warning</h4>
				<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert">
						&times;</button>
					<strong>Warning!</strong> Best check yo self, you're not looking too good.
				</div>
				<h4>
					Alert Error</h4>
				<div class="alert alert-danger alert-dismissable">
					<button data-dismiss="alert" class="close" type="button">
						&times;</button>
					<strong>Oh snap!</strong> Change a few things up and try submitting again.
				</div>
				<h4>
					Alert Success</h4>
				<div class="alert alert-success alert-dismissable">
					<button data-dismiss="alert" class="close" type="button">
						&times;</button>
					<strong>Well done!</strong> You successfully read this important alert message.
				</div>
				<h4>
					Alert Info</h4>
				<div class="alert alert-info alert-dismissable">
					<button data-dismiss="alert" class="close" type="button">
						&times;</button>
					<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">
					Notes
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4 class="no-margin-top">
					Border</h4>
				<div class="notes notes-default">
					<h4>
						Default</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
				</div>
				<div class="notes notes-primary">
					<h4>
						Primary</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
				</div>
				<div class="notes notes-success">
					<h4>
						Success</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
				</div>
				<div class="notes notes-danger">
					<h4>
						Danger</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
				</div>
				<div class="notes notes-warning">
					<h4>
						Warning</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
				</div>
				<div class="notes notes-info">
					<h4>
						Info</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
				</div>
			</div>
		</div>
	</div>
</div>
