@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Dropdowns" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/", FirstUrlName = "Home",
		SecondUrl = "/Home/General", SecondUrlName = "UI Features",
		ThirdUrl = "/Home/Dropdowns", ThirdUrlName = "Dropdowns"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					Dropdowns</h3>
			</div>
			<div class="panel-body">
				<div class="btn-group">
					<button class="btn btn-default" type="button" data-toggle="dropdown">
						Dropdown <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">
					Dropdown Alignment</h3>
			</div>
			<div class="panel-body">
				<div class="btn-group">
					<button class="btn btn-default" type="button" data-toggle="dropdown">
						Dropdown Menu Left <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button class="btn btn-default" type="button" data-toggle="dropdown">
						Dropdown Menu Right <span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">
					Sub menus on dropdown</h3>
			</div>
			<div class="panel-body">
				<div class="pull-left margin-right-10">
					<p class="muted">
						Default
					</p>
					<div class="dropdown clearfix">
						<ul aria-labelledby="dropdownMenu" style="display: block; position: static" role="menu" class="dropdown-menu">
							<li><a href="#" tabindex="-1">Action</a> </li>
							<li><a href="#" tabindex="-1">Another action</a> </li>
							<li><a href="#" tabindex="-1">Something else here</a> </li>
							<li class="divider"></li>
							<li class="dropdown-submenu"><a href="#" tabindex="-1">More options</a>
								<ul class="dropdown-menu">
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="pull-left margin-right-10">
					<p class="muted">
						Dropup
					</p>
					<div class="dropup">
						<ul aria-labelledby="dropdownMenu" style="display: block; position: static" role="menu" class="dropdown-menu">
							<li><a href="#" tabindex="-1">Action</a> </li>
							<li><a href="#" tabindex="-1">Another action</a> </li>
							<li><a href="#" tabindex="-1">Something else here</a> </li>
							<li class="divider"></li>
							<li class="dropdown-submenu"><a href="#" tabindex="-1">More options</a>
								<ul class="dropdown-menu">
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="pull-left margin-right-10">
					<p class="muted">
						Left submenu
					</p>
					<div class="dropdown">
						<ul aria-labelledby="dropdownMenu" style="display: block; position: static" role="menu" class="dropdown-menu">
							<li><a href="#" tabindex="-1">Action</a> </li>
							<li><a href="#" tabindex="-1">Another action</a> </li>
							<li><a href="#" tabindex="-1">Something else here</a> </li>
							<li class="divider"></li>
							<li class="dropdown-submenu"><a href="#" tabindex="-1">More options</a>
								<ul class="dropdown-menu">
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">
					Headers</h3>
			</div>
			<div class="panel-body">
				<div class="pull-left margin-right-10">
					<div class="dropdown clearfix">
						<ul aria-labelledby="dropdownMenu" style="display: block; position: static" role="menu" class="dropdown-menu">
							<li role="presentation" class="dropdown-header">Dropdown header</li>
							<li><a href="#" tabindex="-1">Action</a> </li>
							<li><a href="#" tabindex="-1">Another action</a> </li>
							<li><a href="#" tabindex="-1">Something else here</a> </li>
							<li class="divider"></li>
							<li role="presentation" class="dropdown-header">Dropdown header</li>
							<li><a href="#" tabindex="-1">Action</a> </li>
							<li><a href="#" tabindex="-1">Another action</a> </li>
							<li><a href="#" tabindex="-1">Something else here</a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-dark-blue">
			<div class="panel-heading">
				<h3 class="panel-title">
					Disabled Menu Items</h3>
			</div>
			<div class="panel-body">
				<div class="pull-left margin-right-10">
					<div class="dropdown clearfix">
						<ul aria-labelledby="dropdownMenu" style="display: block; position: static" role="menu" class="dropdown-menu">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
							<li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
