@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Labels & Badges" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/", FirstUrlName = "Home",
		SecondUrl = "/Home/General", SecondUrlName = "UI Features",
		ThirdUrl = "/Home/Labels & Badges", ThirdUrlName = "LabelsAndBadges"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-blue">
			<div class="panel-heading">
				<h3 class="panel-title">
					Labels
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h1>
					Example heading <span class="label label-default">New</span></h1>
				<h2>
					Example heading <span class="label label-default">New</span></h2>
				<h3>
					Example heading <span class="label label-default">New</span></h3>
				<h4>
					Example heading <span class="label label-default">New</span></h4>
				<h5>
					Example heading <span class="label label-default">New</span></h5>
				<h6>
					Example heading <span class="label label-default">New</span></h6>
				<h4>
					Available variations</h4>
				<span class="label label-default">Default</span> <span class="label label-primary">Primary</span> <span class="label label-success">Success</span> <span class="label label-info">Info</span> <span class="label label-warning">Warning</span> <span class="label label-danger">Danger</span>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		
	</div>
</div>
