@{
    var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "List Group" };
    var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel
    {
        FirstUrl = "/",
        FirstUrlName = "Home",
        SecondUrl = "/Home/General",
        SecondUrlName = "UI Features",
        ThirdUrl = "/Home/ListGroup",
        ThirdUrlName = "List Group"
    };
    ViewBag.Title = _PageHeaderModel.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
    <div class="col-md-12">
      
    </div>
</div>
