@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Tiles" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/General", SecondUrlName = "UI Features",
		ThirdUrl = "/Home/Tiles", ThirdUrlName = "Tiles"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
	<div class="col-md-12">
		<div class="tile vertical bg-primary">
			<div class="tile-content icon">
				<i class="fa fa-bell-o fa-4x"></i>
			</div>
			<div class="tile-status">
				<span class="name">Notifications</span>
				<div class="badge">
					3</div>
			</div>
		</div>
		<div class="tile selected bg-purple">
			<div class="tile-content icon">
				<i class="fa fa-cogs fa-3x"></i>
			</div>
			<div class="tile-status">
				<span class="name">Settings</span>
			</div>
		</div>
		<div class="tile bg-warning">
			<div class="tile-content icon">
				<i class="fa fa-shopping-cart fa-3x"></i>
			</div>
			<div class="tile-status">
				<span class="name">Orders</span>
				<div class="badge">
					10</div>
			</div>
		</div>
		<div class="tile double bg-primary">
			<div class="tile-content padding5">
				<h4>
                    Lorem</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet...</p>
			</div>
		</div>
		<div class="tile bg-purple">
			<div class="tile-content icon">
				<i class="fa fa-user fa-3x"></i>
			</div>
			<div class="tile-status">
				<span class="name">Members</span>
				<div class="badge">
					10</div>
			</div>
		</div>
		<div class="tile tile-box">
			<div class="tile half bg-danger">
				<div class="tile-content icon">
					<i class="fa fa-bell-o fa-3x"></i>
				</div>
			</div>
			<div class="tile half bg-primary">
				<div class="tile-content icon">
					<i class="fa fa-print fa-3x"></i>
				</div>
			</div>
			<div class="tile half bg-warning">
				<div class="tile-content icon">
					<i class="fa fa-inbox fa-3x"></i>
				</div>
			</div>
			<div class="tile half bg-purple">
				<div class="tile-content icon">
					<i class="fa fa-group fa-3x"></i>
				</div>
			</div>
		</div>
		<div class="tile double bg-primary">
			<div class="tile-content padding5">
				<h4>
					Annoncements</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh ut laoreet...</p>
			</div>
			<div class="tile-status">
				<span class="name">John</span>
				<div class="badge">
					05/02/2013</div>
			</div>
		</div>
		<div class="tile bg-success">
			<div class="tile-content icon">
				<i class="fa fa-bar-chart-o fa-3x"></i>
			</div>
			<div class="tile-status">
				<span class="name">Reports</span>
			</div>
		</div>
		<div class="tile double bg-danger no-border">
			<div class="tile-content icon">
				<i class="fa fa-play-circle fa-4x"></i>
			</div>
			<div class="brand bg-black">
				<span class="label fg-white">Player</span>
				<div class="badge bg-black">
					<i class="fa fa-pause"></i>
				</div>
			</div>
		</div>
		<div class="tile bg-teal">
			<div class="tile-content icon">
				<i class="fa fa-briefcase fa-3x"></i>
			</div>
			<div class="tile-status">
				<span class="name">Documents</span>
				<div class="badge">
					10</div>
			</div>
		</div>
		<div class="tile no-border">
			<div class="tile-content image no-padding">
				<img src="/img/4.jpg">
			</div>
			<div class="brand bg-dark-purple opacity">
				<span class="text">Test image.</span>
			</div>
		</div>
		<div class="tile bg-warning">
			<div class="tile-content icon">
				<i class="fa fa-plane fa-4x"></i>
			</div>
			<div class="tile-status">
				<span class="name">Projects</span>
				<div class="badge">
					10</div>
			</div>
		</div>
		<div class="tile bg-purple">
			<div class="tile-content icon">
				<i class="fa fa-briefcase fa-3x"></i>
			</div>
			<div class="tile-status">
				<span class="name">Events</span>
				<div class="badge">
					10</div>
			</div>
		</div>
		<div class="tile bg-teal">
			<div class="tile-content icon">
				<i class="fa fa-group fa-3x"></i>
			</div>
			<div class="tile-status">
				<span class="name">Meetings</span>
				<div class="badge">
					10</div>
			</div>
		</div>
		<div class="tile double bg-primary">
			<div class="tile-content padding5">
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy consectetuer adipiscing elit, sed diam nonummy consectetuer adipiscing elit, nibh ut laoreet...</p>
			</div>
		</div>
	</div>
</div>
