@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "ToolTip & Popover" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/", FirstUrlName = "Home",
		SecondUrl = "/Home/General", SecondUrlName = "UI Features",
		ThirdUrl = "/Home/ToolTipAndPopover", ThirdUrlName = "ToolTip & Popover"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section scripts {
	<script>
		$(function() {
			$("#alert").click(function() {
				APP.metroAlert("Hello world!",function() {
					alert("hello callback");
				});
			});
			$("#alert2").click(function() {
				APP.metroAlert("Hello world!",function() {
					alert("hello callback");
				},{ "okBtnClass": "btn btn-default input-small","modalClass": "bg-primary" });
			});
			$("#confirm").click(function() {
				APP.metroConfirm("Are you sure?",function(result) {
					alert("callback result="+result);
				});
			});
			$("#confirm2").click(function() {
				APP.metroConfirm("Are you sure?",function(result) {
					alert("callback result="+result);
				},{ "okBtnClass": "btn btn-default input-small","modalClass": "bg-primary" });
			});
			$("#popoverconfirm").click(function() {
				APP.popoverConfirm(this,"Confirm order and use selected payment method?",function(result) {
					alert("callback result="+result);
				});
			});
		});
	</script>
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">
					Tooltips</h3>
			</div>
			<div class="panel-body">
				<button type="button" class="btn btn-default margin-right-5" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
					Tooltip on left</button>
				<button type="button" class="btn btn-default margin-right-5" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
					Tooltip on top</button>
				<button type="button" class="btn btn-default margin-right-5" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
					Tooltip on bottom</button>
				<button type="button" class="btn btn-default margin-right-5" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
					Tooltip on right</button>
			</div>
		</div>
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">
					Popovers</h3>
			</div>
			<div class="panel-body">
				<button type="button" class="btn btn-default margin-right-5" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover on left
				</button>
				<button type="button" class="btn btn-default margin-right-5" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover on top
				</button>
				<button type="button" class="btn btn-default margin-right-5" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus	sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover on bottom
				</button>
				<button type="button" class="btn btn-default margin-right-5" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
					Popover on right
				</button>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					Popup Confirm</h3>
			</div>
			<div class="panel-body">
				<form action="#" method="POST" class="form-horizontal form-row-separated form-striped">
				<div class="form-group">
					<label class="col-md-4 control-label">
						Popup Confirm
					</label>
					<div class="col-md-8">
						<a id="popoverconfirm" class='btn btn-success'>Confirm and Purchase</a>
					</div>
				</div>
				</form>
			</div>
		</div>
		<div class="panel panel-cardovan">
			<div class="panel-heading">
				<h3 class="panel-title">
					Metro Style Alert & Confirm Dialog
				</h3>
			</div>
			<div class="panel-body no-padding">
				<form action="#" method="POST" class="form-horizontal form-row-separated form-striped">
				<div class="form-group">
					<label class="col-md-4 control-label">
						Alert
					</label>
					<div class="col-md-8">
						<a id="alert" class="btn btn-default">View Demo</a> <a id="alert2" class="btn btn-primary margin-left-10">View Demo Blue Color</a>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">
						Confirm
					</label>
					<div class="col-md-8">
						<a id="confirm" class="btn btn-primary">View Demo</a> <a id="confirm2" class="btn btn-primary margin-left-10">View Demo Blue Color</a>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
