.error-panel {
	width: 320px;
	margin: 0 auto;
	color: #fff;
    background-color: transparent;
    border-color: transparent;
}
 /* error-code */
h1.error-code {
	font-size: 80px;
    font-weight: 300;
	margin: 0;
}