@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Block UI" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/Modal", SecondUrlName = "Plugins",
		ThirdUrl = "/Home/BlockUI", ThirdUrlName = "Block UI"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					Block UI</h3>
			</div>
			<div class="panel-body" id="panelBody">
				<h4>
					Block UI</h4>
				<div class="notes notes-primary">
					<p>
						The jQuery BlockUI Plugin lets you simulate synchronous behavior when using AJAX, without locking the browser[1]. When activated, it will prevent user activity with the page (or part of the page) until it is deactivated. BlockUI adds elements to the DOM to give it both the appearance and behavior of blocking user interaction. Read more about it on <a href="http://malsup.com/jquery/block/">Block UI plugin website</a>.
					</p>
				</div>
				<h4>
					Js Files</h4>
				<pre><code>js/plugins/blockUI/jquery.blockUI.js</code></pre>
			</div>
		</div>
	</div>
</div>
