@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Box Layout" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/BoxLayout", SecondUrlName = "Box Layout",
		ThirdUrl = "", ThirdUrlName = ""
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
	@Html.Partial("_IndexStyles")
}
@section scripts {
	@Html.Partial("_IndexScripts")
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="notes notes-primary">
	Just apply <strong>page-boxed</strong> class to the body element and <strong>container</strong> class to the <strong>header,pagecontainer</strong> element.
</div>
<h4>
	Via CSS</h4>
<pre>
<code>&lt;body class="page-boxed"&gt;</code>
<code>&lt;div class="header container"&gt;</code>
<code>&lt;div class="page-container container"&gt;</code>
</pre>
<h4>
	Via Javascript</h4>
<pre><code>App.isFixedLayout = true;</code>
<code>App.changeLayout();</code></pre>
