@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Box Layout" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/BoxLayout", SecondUrlName = "Box Layout",
		ThirdUrl = "", ThirdUrlName = ""
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
	@Html.Partial("_IndexStyles")
}
@section scripts {
	@Html.Partial("_IndexScripts")
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="notes">
	Just apply page-boxed class to the body element and container class to the header,pagecontainer element.
</div>
<pre>
<code>&lt;body class="page-boxed"&gt;</code>
<code>&lt;div class="header container"&gt;</code>
<code>&lt;div class="page-container container"&gt;</code>
</pre>
