@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Calendar" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/SignIn", SecondUrlName = "Pages",
		ThirdUrl = "/Home/Calendar", ThirdUrlName = "Calendar"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
}
@section scripts {
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
	<div class="col-md-12">
		<h4>
			Calendar</h4>
		<div class="notes notes-primary">
			<p>
				FullCalendar is a jQuery plugin that provides a full-sized, drag &amp; drop calendar. Read more about it on <a href="http://arshaw.com/fullcalendar/" target="_blank">FullCalendar website</a>.</p>
		</div>
		<h4>
			CSS Files</h4>
		<pre>
<code>css/plugins/fullcalendar/fullcalendar.css</code></pre>
		<h4>
			Js Files</h4>
		<pre>
<code>js/plugins/fullcalendar/fullcalendar.min.js</code>
</pre>
	</div>
</div>
