@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Color Picker" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/Modal", SecondUrlName = "Plugins",
		ThirdUrl = "/Home/ColorPicker", ThirdUrlName = "Color Picker"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading panel-title">
				<h3 class="panel-title">
					Color Pickers</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4>
					Color Picker</h4>
				<div class="notes notes-primary">
					<p>
						Color Picker Plugin for the bootstrap tollkit. Read more about it on <a href="http://mjolnic.github.io/bootstrap-colorpicker/">Color Picker plugin website</a>.
					</p>
				</div>
				<h4>
					CSS Files</h4>
				<pre><code>css/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.css</code></pre>
				<h4>
					Js Files</h4>
				<pre><code>js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js</code></pre>
			</div>
		</div>
	</div>
</div>
