@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Data Table" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/DataTable", SecondUrlName = "Tables",
		ThirdUrl = "/Home/DataTable", ThirdUrlName = "Data Table"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
	<!-- bootstrap datatable -->
	<link href="/css/plugins/datatable/datatable-bs3.css" rel="stylesheet" type="text/css" />
}
@section scripts {
	<!-- data-table -->
	<script src="/js/plugins/datatable/jquery.dataTables.min.js" type="text/javascript"></script>
	<script src="/js/plugins/datatable/datatable-bs3.js" type="text/javascript"></script>
	<script>
		/* Table initialisation */
		$(document).ready(function() {
			$('#example').dataTable({
				"sPaginationType": "bs_normal"
			});
			$('#example2').dataTable({
				"sPaginationType": "bs_four_button"
			});
			$('#example3').dataTable({
				"sPaginationType": "bs_two_button"
			});
			$('#example4').dataTable({
				"sPaginationType": "bs_full"
			});
			$('.datatable').each(function() {
				var datatable=$(this);
				// SEARCH - Add the placeholder for Search and Turn this into in-line form control
				var search_input=datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
				search_input.attr('placeholder','Search');
				search_input.addClass('form-control');
				// LENGTH - Inline-Form control
				var length_sel=datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
				length_sel.addClass('form-control input-sm');
				datatable.bind('page',function(e) {
					window.console&&console.log('pagination event:',e) //this event must be fired whenever you paginate
				});
			});
		});
	</script>
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					Data Table</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4>Data Table</h4>
				<div class="notes notes-primary">
					<p>
                        <a href="http://www.datatables.net/">DataTables</a> is a plug-in for the jQuery Javascript library. It is a highly flexible tool, based upon the foundations of progressive enhancement, which will add advanced interaction controls to any HTML table.
                    </p>
				</div>
				<h4>CSS Files</h4>
				<pre><code>css/plugins/datatable/datatable-bs3.css</code></pre>
				<h4>JS Files</h4>
				<pre><code>js/plugins/datatable/jquery.dataTables.min.js</code></pre>
				<pre><code>js/plugins/datatable/datatable-bs3.js</code></pre>
			</div>
		</div>
	</div>
</div>