@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Date Picker" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/Modal", SecondUrlName = "Plugins",
		ThirdUrl = "/Home/DatePicker", ThirdUrlName = "Date Picker"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading panel-title">
				<h3 class="panel-title">
					Date Pickers</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
                <h4>Date Pickers</h4>
                <div class="notes notes-primary">
                    <p>
                        Date picker is a jQuery plugin allows you to create a date picker input widgets. Read more about it on <a href="http://eternicode.github.io/bootstrap-datepicker/">Date picker plugin website</a>.
                    </p>
                </div>
                <h4>CSS Files</h4>
                <pre><code>css/plugins/bootstrap-datepicker/bootstrap-datepicker.css</code></pre>
                <h4>Js Files</h4>
                <pre>
<code>js/plugins/bootstrap-datepicker/bootstrap-datepicker.js</code>
</pre>
			</div>
		</div>
	</div>
</div>
