@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Editor" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/Modal", SecondUrlName = "Plugins",
		ThirdUrl = "/Home/Editor", ThirdUrlName = "Editor"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-dark-blue">
			<div class="panel-heading">
				<h3 class="panel-title">
					WYSIHTML5 Editor</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4>
					WYSIHTML5 Editor</h4>
				<div class="notes notes-primary">
					<p>
						Bootstrap3-wysihtml5 is a javascript plugin that makes it easy to create simple, beautiful wysiwyg editors with the help of <a href="https://github.com/xing/wysihtml5">wysihtml5</a> and <a href="http://getbootstrap.com/">Twitter Bootstrap 3</a>. It based on the Project <a href="http://jhollingworth.github.io/bootstrap-wysihtml5/">http://jhollingworth.github.io/bootstrap-wysihtml5/</a></p>
				</div>
				<h4>
					CSS Files</h4>
				<pre><code>css/plugins/bootstrap-wysihtml5/wysiwyg-editor.css</code></pre>
				<h4>
					Js Files</h4>
				<pre>
<code>js/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.min.js</code>
<code>js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.js</code></pre>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					CK Editor</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4>
					CK Editor</h4>
				<div class="notes notes-primary">
					<p>
						Bring rich editor features to your products and websites, providing your users with powerful tools to make creating Web content easier than ever and accessible to anyone. Read more about it on <a href="http://ckeditor.com/">CK Editor plugin website</a>.
					</p>
				</div>
				<h4>
					Js Files</h4>
				<pre>
<code>js/plugins/ckeditor/ckeditor.js</code></pre>
			</div>
		</div>
	</div>
</div>
