@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Editable" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index",
		FirstUrlName = "Home",
		SecondUrl = "/Home/Modal",
		SecondUrlName = "Plugins",
		ThirdUrl = "/Home/Editable",
		ThirdUrlName = "Editable"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					Editable
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				 <h4>
					Editable</h4>
				<div class="notes notes-primary">
					<p>
						Editable Plugin library allows you to create editable elements on your page. Read more about it on <a href="http://vitalets.github.io/x-editable/">Editable plugin website</a>.
					</p>
				</div>
				<h4>
					CSS Files</h4>
				<pre><code>css/plugins/bootstrap-editable/bootstrap-editable.css</code></pre>
				<h4>
					Js Files</h4>
				<pre><code>js/plugins/bootstrap-editable/bootstrap-editable.js</code></pre>
			</div>
		</div>
	</div>
</div>
