@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "FileInput" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/General", SecondUrlName = "UI Features",
		ThirdUrl = "/Home/FileInput", ThirdUrlName = "FileInput"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					File Input</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
                <h4>File Inpit</h4>
                <div class="notes notes-primary">
                    <p>
                        File Input is a jQuery plugin allows you to create a visually appealing file or image input widgets. Read more about it on <a href="http://jasny.github.io/bootstrap/javascript/#fileinput">File Input plugin website</a>.
                    </p>
                </div>
                <h4>Js Files</h4>
                <pre><code>/js/plugins/fileinput/fileinput.js</code></pre>
			</div>
		</div>
	</div>
</div>
