@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Form Examples" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/FormExamples", SecondUrlName = "Forms",
		ThirdUrl = "/Home/FormExamples", ThirdUrlName = "Form Examples"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-dark-blue">
			<div class="panel-heading">
				<h3 class="panel-title">
					Form Examples</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4>
					Inline Form</h4>
                <p>Add <code>.form-inline</code> to your <code>&lt;form&gt;</code> for left-aligned and inline-block controls. <strong>This only applies to forms within viewports that are at least 768px wide.</strong></p>
                <p>Read more about it on <a href="http://getbootstrap.com/css/#forms-inline" target="_blank">Bootstrap Inline Form website</a>.</p>
				<h4>
					Horizontal Form</h4>
                <p>Use Bootstrap's predefined grid classes to align labels and groups of form controls in a horizontal layout by adding <code>.form-horizontal</code> to the form. Doing so changes <code>.form-group</code>s to behave as grid rows, so no need for <code>.row</code>.</p>
                <p>Read more about it on <a href="http://getbootstrap.com/css/#forms-horizontal" target="_blank">Bootstrap Horizontal Form website</a>.</p>
				<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="inputEmail" class="col-md-2 control-label">
						Email</label>
					<div class="col-md-4">
						<input type="email" class="form-control" id="inputEmail" placeholder="Email" />
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-md-2 control-label">
						Password</label>
					<div class="col-md-4">
						<input type="password" class="form-control" id="inputPassword" placeholder="Password" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-4">
						<div class="checkbox">
							<label>
								<input type="checkbox" />
								Remember me
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-primary">
							Sign in</button>
					</div>
				</div>
				</form>
				<hr />
				<h4>
					Horizontal Form With Icons</h4>
				<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="inputEmail12" class="col-md-2 control-label">
						Email</label>
					<div class="col-md-4">
						<div class="input-icon">
							<i class="fa fa-envelope"></i>
							<input type="email" class="form-control" id="inputEmail12" placeholder="Email" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-md-2 control-label">
						Password</label>
					<div class="col-md-4">
						<div class="input-icon right">
							<i class="fa fa-user"></i>
							<input type="password" class="form-control" id="inputPassword1" placeholder="Password" />
						</div>
						<div class="help-block">
							with right aligned icon
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-4">
						<div class="checkbox">
							<label>
								<input type="checkbox" />
								Remember me
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-primary">
							Sign in</button>
					</div>
				</div>
				</form>
				<hr />
				<h4>
					Column Sizing</h4>
				<form role="form">
				<div class="row">
					<div class="col-md-2">
						<input type="text" class="form-control" placeholder=".col-md-2" />
					</div>
					<div class="col-md-3">
						<input type="text" class="form-control" placeholder=".col-md-3" />
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder=".col-md-4" />
					</div>
					<div class="col-md-3">
						<input type="text" class="form-control" placeholder=".col-md-2" />
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
