@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Inbox" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index",
		FirstUrlName = "Home",
		SecondUrl = "/Home/SignIn",
		SecondUrlName = "Pages",
		ThirdUrl = "/Home/Inbox",
		ThirdUrlName = "Inbox"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
}
@section scripts {
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
	<div class="col-md-12">
		<h4>
			Inbox</h4>
		<div class="notes notes-primary">
			<p>
				Inbox page using <a href="http://knockoutjs.com/" target="_blank">knockoutjs(MVVM pattern)</a> framework.</p>
			<p>
				Inbox page contains lots of components so you may want to check out <a href="/Document/Buttons" target="_blank">Buttons</a> , <a href="/Document/FormControls" target="_blank">Form Controls</a> , <a href="/Document/FormValidation" target="_blank">Form Validation</a> pages.</p>
		</div>
	</div>
</div>
