@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Input Mask" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index",
		FirstUrlName = "Home",
		SecondUrl = "/Home/Modal",
		SecondUrlName = "Plugins",
		ThirdUrl = "/Home/InputMask",
		ThirdUrlName = "Input Mask"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-pink">
			<div class="panel-heading">
				<h3 class="panel-title">
					Input Mask
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4>
					Input Mask</h4>
				<div class="notes notes-primary">
					<p>
						Input Mask is a jQuery plugin which create an input mask. An inputmask helps the user with the input by ensuring a predefined format. This can be useful for dates, numerics, phone numbers, etc.... Read more about it on <a href="http://robinherbots.github.io/jquery.inputmask/">Input Mask plugin website</a>.
					</p>
				</div>
				<h4>
					Js Files</h4>
				<pre><code>/js/plugins/inputmask/jquery.inputmask.bundle.min.js</code></pre>
			</div>
		</div>
	</div>
</div>
