@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "jQuery UI Slider" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/Modal", SecondUrlName = "Plugins",
		ThirdUrl = "/Home/jQueryUISlider", ThirdUrlName = "jQuery UI Slider"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
	<!-- jquery ui slider -->
	<link href="/css/plugins/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/pages/jqueryuislider.css" rel="stylesheet" type="text/css" />
}
@section scripts {
	<!-- jquery ui slider -->
	<script src="/js/plugins/jquery-ui/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
	<script src="/js/plugins/jquery-ui/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
	<script src="/js/pages/jqueryuislider.js" type="text/javascript"></script>
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">
					jQuery UI Slider
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4>
					jQuery UI Slider</h4>
				<div class="notes notes-primary">
					<p>
                        jQuery UI Slider plugin makes selected elements into sliders. Read more about it on <a href="http://jqueryui.com/slider/" target="_blank">jQuery UI Slider plugin website</a>.
					</p>
				</div>
                <h4>
                    CSS Files
                </h4>
                <pre><code>css/plugins/ui-lightness/jquery-ui-1.10.4.custom.min.css</code></pre>
				<h4>
					Js Files</h4>
				<pre><code>js/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js</code></pre>
			</div>
		</div>
	</div>
</div>
