@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Modal" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/Modal", SecondUrlName = "Plugins",
		ThirdUrl = "/Home/Modal", ThirdUrlName = "Modal"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Modal</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
                <h4>Modal</h4>
                <div class="notes notes-primary">
                    <p>
                        Extends Bootstrap's native modals to provide additional functionality. Introduces a <strong>ModalManager</strong> class that operates behind the scenes to handle multiple modals by listening on their events. 
                        Read more about it on <a href="http://jschr.github.io/bootstrap-modal/">bootstrap modal plugin website</a>.
                    </p>
                </div>
                <h4>CSS Files</h4>
                <pre><code>css/plugins/bootstrap-modal/bootstrap-modal.css</code></pre>
                <h4>Js Files</h4>
                <pre>
<code>/js/plugins/bootstrap-modal/bootstrap-modal.js</code>
<code>/js/plugins/bootstrap-modal/bootstrap-modalmanager.js</code></pre>
			</div>
		</div>
	</div>
</div>
