@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Morris Chart" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/Modal", SecondUrlName = "Plugins",
		ThirdUrl = "/Home/MorrisChart", ThirdUrlName = "Morris Chart"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					Morris Chart
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
                <h4>
                    Morris Chart
                </h4>
                <div class="notes notes-primary">
                    <p>
                        Morris.js is the library that powers the graphs.It's a very simple API for drawing line, bar, area and donut charts. Read more about it on <a href="http://morrisjs.github.io/morris.js/index.html" target="_blank">Morris Chart plugin website</a>.
                    </p>
                </div>
                <h4>
                    CSS Files
                </h4>
                <pre>
<code>css/plugins/morris/morris-0.4.3.min.css</code>
                </pre>
                <h4>
                    Js Files
                </h4>
                <pre>
<code>js/plugins/morris/raphael-2.1.0.min.js</code>
<code>js/plugins/morris/morris.js</code>
                </pre>
			</div>
		</div>
	</div>
</div>
