@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Multiple File Upload" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index",
		FirstUrlName = "Home",
		SecondUrl = "/Home/Modal",
		SecondUrlName = "Plugins",
		ThirdUrl = "/Home/MultipleFileUpload",
		ThirdUrlName = "Multiple File Upload"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<div class="notes notes-primary">
			<p>
				File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery.<br />
				Supports cross-domain, chunked and resumable file uploads and client-side image resizing.<br />
				Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.</p>
			<p>
				Read more about it on <a href="http://blueimp.github.io/jQuery-File-Upload/">jQuery File Upload plugin website</a>.</p>
		</div>
		<h4>
			CSS Files</h4>
		<pre><code>css/plugins/jqueryfileupload/style.css</code>
<code>css/plugins/jqueryfileupload/blueimp-gallery.min.css</code>
<code>css/plugins/jqueryfileupload/jquery.fileupload.css</code>
<code>css/plugins/jqueryfileupload/jquery.fileupload-ui.css</code></pre>
		<h4>
			Js Files</h4>
		<pre><code>js/plugins/jqueryfileupload/vendor/jquery.ui.widget.js</code>
<code>js/plugins/jqueryfileupload/blueimp/tmpl.min.js</code>
<code>js/plugins/jqueryfileupload/blueimp/load-image.min.js</code>
<code>js/plugins/jqueryfileupload/blueimp/canvas-to-blob.min.js</code>
<code>js/plugins/jqueryfileupload/blueimp/jquery.blueimp-gallery.min.js</code>
<code>js/plugins/jqueryfileupload/jquery.iframe-transport.js</code>
<code>js/plugins/jqueryfileupload/jquery.fileupload.js</code>
<code>js/plugins/jqueryfileupload/jquery.fileupload-process.js</code>
<code>js/plugins/jqueryfileupload/jquery.fileupload-image.js</code>
<code>js/plugins/jqueryfileupload/jquery.fileupload-audio.js</code>
<code>js/plugins/jqueryfileupload/jquery.fileupload-video.js</code>
<code>js/plugins/jqueryfileupload/jquery.fileupload-validate.js</code>
<code>js/plugins/jqueryfileupload/jquery.fileupload-ui.js</code>
<code>js/plugins/jqueryfileupload/main.js</code>
<code>js/plugins/jqueryfileupload/cors/jquery.xdr-transport.js</code></pre>
	</div>
</div>
