@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "500" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/SignIn", SecondUrlName = "Pages",
		ThirdUrl = "/Home/Page500", ThirdUrlName = "500"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
<div class="row">
	<div class="col-md-12">
		<h4>
			500</h4>
		<div class="notes notes-primary">
			<p>Replace error code with your own!</p>
			<p>500 page contains only markup, so you may want to read about <a href="/Document/Panels" target="_blank">Panels</a> , <a href="/Document/Buttons" target="_blank">Buttons</a> , <a href="/Document/FormControls" target="_blank">Form Controls</a> , <a href="/Document/FormValidation" target="_blank">Form Validation</a> pages.</p>
		</div>
	</div>
</div>