@{
    var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Panels" };
    var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel
    {
        FirstUrl = "/Home/Index",
        FirstUrlName = "Home",
        SecondUrl = "/Home/General",
        SecondUrlName = "UI Features",
        ThirdUrl = "/Home/Panels",
        ThirdUrlName = "Panels"
    };
    ViewBag.Title = _PageHeaderModel.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Panel
                </h3>
            </div>
            <div class="panel-body">
                <div class="notes notes-primary">
                    <p>
                        Panel are based on <a href="http://getbootstrap.com/components/#panels" target="_blank">bootstrap panels</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Panel With Buttons
                </h3>
            </div>
            <div class="panel-body">
                <div class="notes notes-primary">
                    <p>
                        To create panel with buttons you can add <code>.panel-tools</code> code to <code>panel-heading</code> container element.
                    </p>
                </div>
                    <pre><code>&lt;div class="panel-tools"&gt;
    &lt;div class="btn-group"&gt;
        &lt;a class="btn btn-danger btn-xs" href="#" data-toggle="dropdown"&gt;Action &lt;i class='fa fa-angle-down'&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;ul class="dropdown-menu pull-right" role="menu"&gt;
            &lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt; &lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt; &lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt; &lt;/li&gt;
            &lt;li class="divider"&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt; &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="btn-group"&gt;
        &lt;a class="btn btn-xs btn-primary" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"&gt;Filter By &lt;i class="fa fa-angle-down"&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right"&gt;
            &lt;div class="checkbox metro-checkbox"&gt;
                &lt;label for="Finance"&gt;
                    &lt;input type="checkbox" id="Finance" value="option1" /&gt;Finance
                &lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="checkbox metro-checkbox"&gt;
                &lt;label for="Membership"&gt;
                    &lt;input type="checkbox" id="Membership" value="option1" /&gt;Membership
                &lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="checkbox metro-checkbox"&gt;
                &lt;label for="CustomerSupport"&gt;
                    &lt;input type="checkbox" id="CustomerSupport" value="option1" /&gt;Customer Support
                &lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading no-padding">
                <h3 class="panel-title pull-left padding-10">
                    Panels with different colors
                </h3>
            </div>
            <div class="panel-body">
                <div class="notes notes-primary">
                    <p>
                        Panels with different colors<code>.panel-primary,.panel-success etc...</code>
                    </p>
                </div>
                    <pre><code>&lt;div class="panel panel-success"&gt;
    &lt;div class="panel-heading"&gt;
        &lt;h3 class="panel-title"&gt;
            Panel Success
        &lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class="panel-body"&gt;
        Panel content
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
        </div>
    </div>
</div>
