@{
    var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Profile" };
    var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel
    {
        FirstUrl = "/Home/Index",
        FirstUrlName = "Home",
        SecondUrl = "/Home/SignIn",
        SecondUrlName = "Pages",
        ThirdUrl = "/Home/Profile",
        ThirdUrlName = "Profile"
    };
    ViewBag.Title = _PageHeaderModel.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="/css/pages/profile.css" rel="stylesheet" type="text/css" />
}
@section scripts {
    <script src="/js/pages/holder.js" type="text/javascript"></script>
    <!-- Bootstrap FileUpload -->
    <script src="/js/plugins/fileinput/fileinput.js" type="text/javascript"></script>
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
	<div class="col-md-12">
		<h4>
			Profile</h4>
		<div class="notes notes-primary">
			<p>
				Profile page contains lots of components so you may want to check out <a href="/Document/Widget" target="_blank">Widget</a>, <a href="/Document/Navs" target="_blank">Tab</a>, <a href="/Document/Buttons" target="_blank">Buttons</a> , <a href="/Document/FormControls" target="_blank">Form Controls</a> , <a href="/Document/FormValidation" target="_blank">Form Validation</a> pages.</p>
		</div>
	</div>
</div>