@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Right Sidebar" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/BoxLayout", SecondUrlName = "Layout",
		ThirdUrl = "/Home/RightSidebar", ThirdUrlName = "Right Sidebar"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
}
@section scripts {
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="notes notes-primary">
    Just apply sidebar-right class to the body element.
</div>
<h4>Via CSS</h4>
<pre>
<code>&lt;body class="sidebar-right"&gt;</code>
</pre>