@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Search" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index",
		FirstUrlName = "Home",
		SecondUrl = "/Home/SignIn",
		SecondUrlName = "Pages",
		ThirdUrl = "/Home/Search",
		ThirdUrlName = "Search"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
}
@section scripts {
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
	<div class="col-md-12">
		<h4>
			Search</h4>
		<div class="notes notes-primary">
			<p>
				Search page contains lots of components so you may want to check out <a href="/Document/Navs" target="_blank">Tabs</a> , <a href="/Document/Buttons" target="_blank">Buttons</a> , <a href="/Document/DataTable" target="_blank">DataTable</a> pages.</p>
		</div>
	</div>
</div>
