@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Select" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/Modal", SecondUrlName = "Plugins",
		ThirdUrl = "/Home/Select", ThirdUrlName = "Select"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-pink">
			<div class="panel-heading">
				<h3 class="panel-title">
					Bootstrap Select</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4>
					Bootstrap Select</h4>
				<div class="notes notes-primary">
					<p>
						A custom select for <a href="http://getbootstrap.com/components/#btn-dropdowns" target="_blank">twitter bootstrap using button dropdown</a>. Read more about it on <a href="http://silviomoreto.github.io/bootstrap-select/">Bootstrap Select plugin website</a>.
					</p>
				</div>
				<h4>
					CSS Files</h4>
				<pre><code>css/plugins/bootstrap-select/bootstrap-select.css</code></pre>
				<h4>
					Js Files</h4>
				<pre>
<code>js/plugins/bootstrap-select/bootstrap-select.min.js</code>
</pre>
			</div>
		</div>
	</div>
</div>
