@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Select2" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/Modal", SecondUrlName = "Plugins",
		ThirdUrl = "/Home/Select2", ThirdUrlName = "Select2"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-dark-blue">
			<div class="panel-heading">
				<h3 class="panel-title">
					Select2</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4>
					Select2</h4>
				<div class="notes notes-primary">
					<p>
						Select2 is a jQuery based replacement for select boxes. It supports searching, remote data sets, and infinite scrolling of results. Read more about it on <a href="http://ivaynberg.github.io/select2/" target="_blank">Select2 plugin website</a>.
					</p>
				</div>
				<h4>
					CSS Files</h4>
				<pre>
					<code>css/plugins/select2/select2.css</code>
					<code>css/plugins/select2/select2-bootstrap.css</code>
				</pre>
				<h4>
					Js Files</h4>
				<pre>
<code>js/plugins/select2/select2.js</code>
</pre>
			</div>
		</div>
	</div>
</div>
