@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Sidebar Fixed" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/BoxLayout", SecondUrlName = "Layout",
		ThirdUrl = "/Home/SidebarFixed", ThirdUrlName = "Sidebar Fixed"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
	@Html.Partial("_IndexStyles")
}
@section scripts {
	@Html.Partial("_IndexScripts")
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="notes notes-primary">
	Just apply <strong>sidebar-fixed</strong> class to the body element.
</div>
<h4>
	Via CSS</h4>
<pre>
<code>&lt;body class="sidebar-fixed"&gt;</code>
</pre>
<h4>
	Via Javascript</h4>
<pre><code>App.isSidebarFixed = true;</code>
<code>App.changeLayout();</code></pre>
<h4>
	Less</h4>
<pre>
<code>less/site/sidebar.less</code>
</pre>
