@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Sign In" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index",
		FirstUrlName = "Home",
		SecondUrl = "/Home/SignIn",
		SecondUrlName = "Pages",
		ThirdUrl = "/Home/SignIn",
		ThirdUrlName = "Sign In"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<h4>
			Sign In</h4>
		<div class="notes notes-primary">
			<p>
				Sign In page contains lots of components so you may want to check out <a href="/Document/Panels" target="_blank">Panels</a> , <a href="/Document/Buttons" target="_blank">Buttons</a> , <a href="/Document/FormControls" target="_blank">Form Controls</a> , <a href="/Document/FormValidation" target="_blank">Form Validation</a> pages.</p>
		</div>
	</div>
</div>
