@{
    var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Slider" };
    var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel
    {
        FirstUrl = "/Home/Index",
        FirstUrlName = "Home",
        SecondUrl = "/Home/Modal",
        SecondUrlName = "Plugins",
        ThirdUrl = "/Home/Slider",
        ThirdUrlName = "Slider"
    };
    ViewBag.Title = _PageHeaderModel.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Slider
                </h3>@Html.Partial("_PanelCloseTools")
            </div>
            <div class="panel-body">
                <h4>
                    Slider
                </h4>
                <div class="notes notes-primary">
                    <p>
                        Slider plugin makes selected elements into sliders. Read more about it on <a href="http://www.eyecon.ro/bootstrap-slider/" target="_blank">Slider plugin website</a>.
                    </p>
                </div>
                <h4>
                    CSS Files
                </h4>
                <pre><code>css/plugins/bootstrap-slider/slider.css</code></pre>
                <h4>
                    Js Files
                </h4>
                <pre><code>js/plugins/bootstrap-slider/bootstrap-slider.js</code></pre>
            </div>
        </div>
    </div>
</div>
