@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Time Picker" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/Modal", SecondUrlName = "Plugins",
		ThirdUrl = "/Home/TimePicker", ThirdUrlName = "Time Picker"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					Time Pickers
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4>
					Time Pickers</h4>
				<div class="notes notes-primary">
					<p>
						Time picker is a jQuery plugin allows you to create a time picker input widgets. Read more about it on <a href="http://jdewit.github.io/bootstrap-timepicker/index.html">Time picker plugin website</a>.
					</p>
				</div>
				<h4>
					CSS Files</h4>
				<pre><code>css/plugins/bootstrap-timepicker/bootstrap-timepicker.css</code></pre>
				<h4>
					Js Files</h4>
				<pre>
<code>js/plugins/bootstrap-timepicker/bootstrap-timepicker.js</code>
</pre>
			</div>
		</div>
	</div>
</div>
