@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Timeline" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/SignIn", SecondUrlName = "Pages",
		ThirdUrl = "/Home/Timeline", ThirdUrlName = "Timeline"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
	<!-- timeline -->
	<link href="/css/pages/timeline.css" rel="stylesheet" type="text/css" />
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
	<div class="col-md-12">
		<!-- The time line -->
		<ul class="timeline">
			<!-- timeline time label -->
			<li class="time-label"><span class="bg-danger">10 Feb. 2014 </span></li>
			<!-- /.timeline-label -->
			<!-- timeline item -->
			<li><span class="time">12:05 PM</span>
				<button type="button" class="btn btn-danger btn-circle btn-lg">
					<i class="fa fa-envelope"></i>
				</button>
				<div class="timeline-item bg-danger">
					<h3 class="timeline-header">
						<a class="title" href="#">Support Team sent you and email</a>
					</h3>
					<div class="timeline-body">
						<p>
							Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle quora plaxo ideeli hulu weebly balihoo...</p>
					</div>
					<div class='timeline-footer'>
						<a href="#" class="pull-right">Read more</a>
					</div>
				</div>
			</li>
			<!-- END timeline item -->
			<!-- timeline item -->
			<li><span class="time">12:10 PM</span>
				<button type="button" class="btn btn-primary btn-circle btn-lg">
					<i class="fa fa-user"></i>
				</button>
				<div class="timeline-item bg-primary">
					<h3 class="timeline-header">
						<a class="title" href="#">Sarah Young accepted your friend request</a>
					</h3>
				</div>
			</li>
			<!-- END timeline item -->
			<!-- timeline item -->
			<li><span class="time">2:00 PM</span>
				<button type="button" class="btn btn-success btn-circle btn-lg">
					<i class="fa fa-comments"></i>
				</button>
				<div class="timeline-item bg-success">
					<h3 class="timeline-header">
						<a class="title" href="#">Jay White commented on your post</a>
					</h3>
					<div class="timeline-body">
						<p>
							Take me to your leader! Switzerland is small and neutral! We are more like Germany, ambitious and misunderstood!</p>
					</div>
					<div class='timeline-footer'>
						<a href="#" class="pull-right">View comment</a>
					</div>
				</div>
			</li>
			<!-- END timeline item -->
			<!-- timeline time label -->
			<li class="time-label"><span class="bg-success">3 Jan. 2014 </span></li>
			<!-- /.timeline-label -->
			<!-- timeline item -->
			<li><span class="time">10:00 AM</span>
				<button type="button" class="btn btn-info btn-circle btn-lg">
					<i class="fa fa-camera"></i>
				</button>
				<div class="timeline-item bg-purple">
					<h3 class="timeline-header">
						<a class="title" href="#">Mina Lee uploaded new photos</a>
					</h3>
					<div class="timeline-body">
                        <img src="/img/1.jpg" />
                        <img src="/img/2.jpg" />
                        <img src="/img/3.jpg" />
                        <img src="/img/4.jpg" />
					</div>
				</div>
			</li>
			<!-- END timeline item -->
			<!-- timeline item -->
			<li><span class="time">11:00 AM</span>
				<button type="button" class="btn btn-warning btn-circle btn-lg">
					<i class="fa fa-video-camera"></i>
				</button>
				<div class="timeline-item bg-warning">
					<h3 class="timeline-header">
						<a class="title" href="#">Mr. Doe shared a video</a>
					</h3>
					<div class="timeline-body">
						<iframe width="300" height="169" src="http://www.youtube.com/embed/fLe_qO4AE-M" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="timeline-footer">
						<a href="#" class="pull-right">See comments</a>
					</div>
				</div>
			</li>
			<!-- END timeline item -->
			<li>
				<button type="button" class="btn btn-warning btn-circle btn-lg">
					<i class="fa fa-clock-o"></i>
				</button>
			</li>
		</ul>
	</div>
</div>
