@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Typography" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/General", SecondUrlName = "UI Features",
		ThirdUrl = "/Home/Typography", ThirdUrlName = "Typography"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
                    Typography</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
                <p>
                    Typography are based on <a href="http://getbootstrap.com/css/#type" target="_blank">bootstrap typography</a>
                </p> 
			</div>
		</div>
	</div>
</div>
