.fa-checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 23px;
}

.fa-checkbox label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    border: 1px solid #cccccc;
    border-radius: 0;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.fa-checkbox label:after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.fa-checkbox input[type=checkbox] {
    display: none;
}

.fa-checkbox input[type=checkbox]:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
 
.fa-checkbox input[type=checkbox]:disabled + label {
    opacity: 0.65;
}

.fa-checkbox input[type=checkbox]:disabled + label:before {
    background-color: @gray-lighter;
    cursor: not-allowed;
}

.fa-checkbox.fa-checkbox-circle label:before {
    border-radius: 50%;
}

.fa-checkbox-primary input[type=checkbox]:checked + label:before {
    background-color: @brand-primary;
    border-color: @brand-primary;
}

.fa-checkbox-primary input[type=checkbox]:checked + label:after {
    color: @brand-white;
}

.fa-checkbox-danger input[type=checkbox]:checked + label:before {
    background-color: @brand-danger;
    border-color: @brand-danger;
}

.fa-checkbox-danger input[type=checkbox]:checked + label:after {
    color: @brand-white;
}

.fa-checkbox-info input[type=checkbox]:checked + label:before {
    background-color: @brand-info;
    border-color: @brand-info;
}

.fa-checkbox-info input[type=checkbox]:checked + label:after {
    color: @brand-white;
}

.fa-checkbox-warning input[type=checkbox]:checked + label:before {
    background-color: @brand-warning;
    border-color: @brand-warning;
}

.fa-checkbox-warning input[type=checkbox]:checked + label:after {
    color: @brand-white;
}

.fa-checkbox-success input[type=checkbox]:checked + label:before {
    background-color: @brand-success;
    border-color: @brand-success;
}

.fa-checkbox-success input[type=checkbox]:checked + label:after {
    color: @brand-white;
}

.fa-radio label {
    display: inline-block;
    position: relative;
    padding-left: 23px;
}

.fa-radio label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.fa-radio label:after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 9px;
    height: 9px;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.fa-radio input[type=radio] {
    display: none;
}

.fa-radio input[type=radio]:checked + label:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.fa-radio input[type=radio]:disabled + label {
    opacity: 0.65;
}

.fa-radio input[type=radio]:disabled + label:before {
    cursor: not-allowed;
}

.fa-radio-primary input[type=radio] + label:after {
    background-color: @brand-primary;
}

.fa-radio-primary input[type=radio]:checked + label:before {
    border-color: @brand-primary;
}

.fa-radio-primary input[type=radio]:checked + label:after {
    background-color: @brand-primary;
}

.fa-radio-danger input[type=radio] + label:after {
    background-color: @brand-danger;
}

.fa-radio-danger input[type=radio]:checked + label:before {
    border-color: @brand-danger;
}

.fa-radio-danger input[type=radio]:checked + label:after {
    background-color: @brand-danger;
}

.fa-radio-info input[type=radio] + label:after {
    background-color: @brand-info;
}

.fa-radio-info input[type=radio]:checked + label:before {
    border-color: @brand-info;
}

.fa-radio-info input[type=radio]:checked + label:after {
    background-color: @brand-info;
}

.fa-radio-warning input[type=radio] + label:after {
    background-color: @brand-warning;
}

.fa-radio-warning input[type=radio]:checked + label:before {
    border-color: @brand-warning;
}

.fa-radio-warning input[type=radio]:checked + label:after {
    background-color: @brand-warning;
}

.fa-radio-success input[type=radio] + label:after {
    background-color: @brand-success;
}

.fa-radio-success input[type=radio]:checked + label:before {
    border-color: @brand-success;
}

.fa-radio-success input[type=radio]:checked + label:after {
    background-color: @brand-success;
}
.table-view.fa-checkbox label:before,
.table-view.fa-radio label:before,
.table-view.fa-checkbox label:before,
.table-view.fa-radio label:before {
	top: -15px;
}
.table-view.fa-checkbox label:after,
.table-view.fa-radio label:after,
.table-view.fa-checkbox label:after,
.table-view.fa-radio label:after {
	top: -16px;
} 